:host {
  display: inline-flex;
  max-width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.tag {
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  border-radius: var(--s-border-radius-s);
  color: var(--s-text-default);
  background-color: var(--swirl-tag-background-default);
  font-size: var(--s-font-size-sm);
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-sm);
  white-space: nowrap;
  gap: var(--s-space-4);
}

.tag--size-s {
  padding: var(--s-space-0) var(--s-space-4);
}

.tag--size-m {
  padding: var(--s-space-2) var(--s-space-8);
}

.tag--variant-outline {
  border-style: solid;
  border-width: var(--s-border-width-default);
  border-color: var(--s-border-strong);
}

.tag--variant-strong {
  color: var(--s-text-on-status);
  background-color: var(--s-surface-neutral-default);

  & .tag__removal-button {
    color: var(--s-icon-on-status);
  }
}

.tag--intent-info {
  color: var(--s-text-info);
  background-color: var(--s-surface-info-subdued);

  & .tag__removal-button {
    color: var(--s-icon-info);
  }

  &.tag--variant-outline {
    border-color: var(--s-border-info);
  }

  &.tag--variant-strong {
    color: var(--s-text-on-status);
    background-color: var(--s-surface-info-default);

    & .tag__removal-button {
      color: var(--s-icon-on-status);
    }
  }
}

.tag--intent-critical {
  color: var(--s-text-critical);
  background-color: var(--s-surface-critical-subdued);

  & .tag__removal-button {
    color: var(--s-icon-critical);
  }

  &.tag--variant-outline {
    border-color: var(--s-border-critical);
  }

  &.tag--variant-strong {
    color: var(--s-text-on-status);
    background-color: var(--s-surface-critical-default);

    & .tag__removal-button {
      color: var(--s-icon-on-status);
    }
  }
}

.tag--intent-warning {
  color: var(--s-text-warning);
  background-color: var(--s-surface-warning-subdued);

  & .tag__removal-button {
    color: var(--s-icon-warning);
  }

  &.tag--variant-outline {
    border-color: var(--s-border-warning);
  }

  &.tag--variant-strong {
    color: var(--s-text-dark);
    background-color: var(--s-surface-warning-default);

    & .tag__removal-button {
      color: var(--s-icon-dark);
    }
  }
}

.tag--intent-success {
  color: var(--s-text-success);
  background-color: var(--s-surface-success-subdued);

  & .tag__removal-button {
    color: var(--s-icon-success);
  }

  &.tag--variant-outline {
    border-color: var(--s-border-success);
  }

  &.tag--variant-strong {
    color: var(--s-text-on-status);
    background-color: var(--s-surface-success-default);

    & .tag__removal-button {
      color: var(--s-icon-on-status);
    }
  }
}

.tag--intent-special {
  color: var(--s-decorative-grape-text);
  background-color: var(--s-decorative-grape-surface-subdued);

  & .tag__removal-button {
    color: var(--s-decorative-grape-text);
  }

  &.tag--variant-outline {
    border-color: var(--s-decorative-grape-text);
  }

  &.tag--variant-strong {
    color: var(--s-text-on-status);
    background-color: var(--s-decorative-grape-surface);

    & .tag__removal-button {
      color: var(--s-icon-on-status);
    }
  }
}

.tag--intent-translucent {
  color: var(--s-text-on-image);
  background-color: var(--s-surface-on-image-default);

  & .tag__removal-button {
    color: var(--s-icon-on-image);
  }

  &.tag--variant-outline {
    border-color: var(--s-text-on-image);
  }
}

.tag__icon {
  display: inline-flex;
  margin-left: calc(-1 * var(--s-space-4));
  flex-shrink: 0;
  order: 0;
}

.tag--icon-position-end {
  & .tag__icon {
    margin-right: calc(-1 * var(--s-space-4));
    margin-left: 0;
    order: 2;
  }
}

.tag__label {
  overflow: hidden;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  order: 1;
}

.tag__removal-button {
  display: inline-flex;
  margin-right: calc(-1 * var(--s-space-4));
  padding: 0;
  border: none;
  color: var(--s-icon-strong);
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
  order: 3;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
  }
}
