:host {
  display: inline-flex;
  max-width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.tag {
  display: inline-flex;
  max-width: 100%;
  align-items: center;
  border-radius: var(--s-border-radius-s);
  color: var(--s-text-default);
  background-color: var(--swirl-tag-background-default);
  font-size: var(--s-font-size-sm);
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-sm);
  white-space: nowrap;
  gap: var(--s-space-4);
}

.tag--size-s {
  padding: var(--s-space-0) var(--s-space-4);
}

.tag--size-m {
  padding: var(--s-space-2) var(--s-space-8);
}

.tag--bordered {
  border-style: solid;
  border-width: var(--s-border-width-default);
  border-color: var(--s-border-strong);
}

.tag--intent-info {
  color: var(--s-text-info);
  background-color: var(--s-surface-info-subdued);

  & .tag__removal-button {
    color: var(--icon-info);
  }

  &.tag--bordered {
    border-color: var(--s-border-info);
  }
}

.tag--intent-critical {
  color: var(--s-text-critical);
  background-color: var(--s-surface-critical-subdued);

  & .tag__removal-button {
    color: var(--icon-critical);
  }

  &.tag--bordered {
    border-color: var(--s-border-critical);
  }
}

.tag--intent-warning {
  color: var(--s-text-warning);
  background-color: var(--s-surface-warning-subdued);

  & .tag__removal-button {
    color: var(--icon-warning);
  }

  &.tag--bordered {
    border-color: var(--s-border-warning);
  }
}

.tag--intent-success {
  color: var(--s-text-success);
  background-color: var(--s-surface-success-subdued);

  & .tag__removal-button {
    color: var(--icon-success);
  }

  &.tag--bordered {
    border-color: var(--s-border-success);
  }
}

.tag__label {
  overflow: hidden;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag__removal-button {
  display: inline-flex;
  margin-right: calc(-1 * var(--s-space-4));
  padding: 0;
  border: none;
  color: var(--s-icon-strong);
  background-color: transparent;
  cursor: pointer;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
  }
}
