:host {
  display: flex;
  overflow: auto;
  padding-top: var(--s-space-8);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-8);
  padding-left: var(--s-space-16);
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  background-color: var(--s-surface-default);
  word-break: break-word;
  hyphens: auto;
  transition: box-shadow 0.15s;

  &(.table-cell--is-sticky) {
    position: sticky;
  }

  &(.table-cell--is-sticky-right) {
    position: sticky;
    right: 0;
    overflow: hidden;
  }

  &(.table-cell--has-shadow-right) {
    box-shadow: var(--swirl-table-sticky-right-shadow);
  }

  &(.table-cell--has-shadow-left) {
    box-shadow: var(--swirl-table-sticky-left-shadow);
  }

  & * {
    box-sizing: border-box;
  }
}
