:host {
  --swirl-table-cell-tree-indent-step: calc(
    var(--s-space-24) + var(--s-space-12)
  );
  --swirl-table-cell-tree-level: 0;

  display: flex;
  overflow: auto;
  padding-top: var(--s-space-8);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-8);
  padding-left: var(--s-space-16);
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  background-color: var(--s-surface-default);
  word-break: break-word;
  hyphens: auto;
  transition: box-shadow 0.15s;

  &(.table-cell--tree) {
    padding-left: calc(
      var(--s-space-16) + var(--swirl-table-cell-tree-level) *
        var(--swirl-table-cell-tree-indent-step)
    );
  }

  &(.table-cell--is-sticky) {
    position: sticky;
    z-index: 1;
  }

  &(.table-cell--is-sticky-right) {
    position: sticky;
    z-index: 1;
    right: 0;
    overflow: hidden;
  }

  &(.table-cell--has-shadow-right) {
    box-shadow: var(--swirl-table-sticky-right-shadow);
  }

  &(.table-cell--has-shadow-left) {
    box-shadow: var(--swirl-table-sticky-left-shadow);
  }

  & * {
    box-sizing: border-box;
  }
}

.table-cell__tree {
  display: flex;
  min-width: 0;
  flex: 1 1 auto;
  align-items: center;
  width: 100%;
}

.table-cell__tree-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
  flex: 0 0 var(--swirl-table-cell-tree-indent-step);
  justify-content: center;
  align-items: center;
  width: var(--swirl-table-cell-tree-indent-step);
  height: var(--swirl-table-cell-tree-indent-step);
  border: none;
  border-radius: var(--s-border-radius-sm);
  color: var(--s-icon-default);
  background-color: transparent;
  cursor: pointer;
  appearance: none;

  &:hover {
    background-color: var(--s-state-hovered);
  }

  &:active {
    background-color: var(--s-state-pressed);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
    outline-offset: var(--s-space-2);
  }
}

.table-cell__tree-content {
  min-width: 0;
  flex: 1 1 auto;
}
