@import "../../styles/media-queries.css";

:host {
  position: relative;
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }

  &[aria-selected="true"] {
    & .resource-list-item {
      background-color: var(--swirl-resource-list-item-background-hovered);

      & .resource-list-item__media,
      & .resource-list-item__meta {
        --swirl-avatar-background-color: var(--s-surface-raised-hovered);
        --swirl-avatar-group-border-color: var(--s-background-hovered);
        --swirl-badge-border-color: var(--s-background-hovered);
      }
    }
  }
}

.resource-list-item {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: var(--s-space-12) var(--s-space-8);
  gap: var(--s-space-12);
  border-radius: var(--s-border-radius-sm);
  background-color: var(--swirl-resource-list-item-background-default);

  &:has(.resource-list-item__content:focus-visible) {
    background-color: var(--s-background-hovered);
    outline-color: var(--s-focus-default);
    outline-style: solid;
    outline-width: 0.125rem;
    z-index: 1;

    & .resource-list-item__media {
      --swirl-avatar-group-border-color: var(--s-background-hovered);
      --swirl-badge-border-color: var(--s-background-hovered);
    }
  }
}

.resource-list-item--interactive {
  cursor: pointer;

  & .resource-list-item__content {
    cursor: pointer;

    &:disabled {
      cursor: default;
    }
  }

  &.resource-list-item--disabled {
    cursor: default;
  }

  &:hover:not(.resource-list-item--disabled),
  &:focus-visible:not(.resource-list-item--disabled) {
    background-color: var(--swirl-resource-list-item-background-hovered);

    & .resource-list-item__media,
    & .resource-list-item__meta {
      --swirl-avatar-background-color: var(--s-surface-raised-hovered);
      --swirl-avatar-group-border-color: var(--s-background-hovered);
      --swirl-badge-border-color: var(--s-background-hovered);
    }
  }

  &:active:not(.resource-list-item--disabled) {
    background-color: var(--swirl-resource-list-item-background-pressed);

    & .resource-list-item__media,
    & .resource-list-item__meta {
      --swirl-avatar-group-border-color: var(--s-background-pressed);
      --swirl-badge-border-color: var(--s-background-pressed);
    }
  }
}

.resource-list-item--active {
  --swirl-badge-border-color: var(
    --swirl-resource-list-item-background-hovered
  );

  background-color: var(--swirl-resource-list-item-background-hovered);
}

.resource-list-item--checked {
  & .resource-list-item__checkbox {
    border-color: var(--s-icon-highlight);
    color: var(--s-text-on-status);
    background-color: var(--s-icon-highlight);
  }
}

.resource-list-item--compact {
  padding: var(--s-space-8);

  @media (--from-desktop-without-touch) {
    padding: var(--s-space-8);
  }

  & .resource-list-item__label-container {
    min-height: 2rem;
  }
}

.resource-list-item--selectable {
  & .resource-list-item__content {
    @media (--from-tablet) {
      padding-left: calc(var(--s-space-16) + 1.5rem + var(--s-space-12));
    }
  }

  & .resource-list-item__label-container {
    padding-right: calc(var(--s-space-16) + 1.5rem + var(--s-space-12));

    @media (--from-tablet) {
      padding-right: var(--s-space-16);
    }
  }
}

.resource-list-item--label-weight-medium {
  & .resource-list-item__label {
    font-weight: var(--s-font-weight-medium);
  }
}

.resource-list-item--label-weight-semibold {
  & .resource-list-item__label {
    font-weight: var(--s-font-weight-semibold);
  }
}

.resource-list-item--label-weight-bold {
  & .resource-list-item__label {
    font-weight: var(--s-font-weight-bold);
  }
}

.resource-list-item--show-control-on-focus {
  &:hover,
  &:focus,
  &:focus-within {
    --swirl-flat-button-background-default: var(--s-background-default);
    --swirl-flat-button-background-disabled: var(--s-background-disabled);
    --swirl-flat-button-background-hovered: var(--s-background-hovered);
    --swirl-flat-button-background-pressed: var(--s-background-pressed);

    & .resource-list-item__control {
      pointer-events: auto;
      opacity: 1;
      position: static;
      transform: none;
      margin: calc(-1 * var(--s-space-4)) 0;
    }

    & .resource-list-item__meta {
      margin-right: 0;
      padding-right: 0;
    }
  }

  & .resource-list-item__meta {
    margin-right: calc(-1 * var(--s-space-16));
    padding-right: var(--s-space-16);
    transition: margin 0.1s;
  }

  & .resource-list-item__control {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    right: var(--s-space-8);
    transform: translateY(-50%);
    transition: opacity 0.1s;
  }
}

.resource-list-item--draggable {
  & .resource-list-item__content {
    padding-left: calc(var(--s-space-12) * 2 + 1.5rem);

    @media (--from-desktop-without-touch) {
      padding-left: calc(var(--s-space-12) * 2 + 1rem);
    }
  }
}

.resource-list-item--dragging {
  z-index: 1;
  border-radius: var(--s-border-radius-s);
  background-color: var(--s-surface-overlay-pressed);
  box-shadow: 0 0.0625rem 0.125rem rgba(25, 26, 28, 0.08),
    0 0.25rem 2rem rgba(25, 26, 28, 0.16);

  &:hover:not(.resource-list-item--disabled) {
    background-color: var(--s-surface-overlay-pressed);
  }
}

.resource-list-item--disabled {
  &.resource-list-item--checked {
    & .resource-list-item__checkbox {
      border-color: var(--s-icon-disabled);
      background-color: var(--s-icon-disabled);
    }
  }

  & .resource-list-item__checkbox {
    border-color: var(--s-icon-disabled);
    background-color: transparent;
  }

  & .resource-list-item__checkbox-icon {
    color: var(--s-text-on-status);
  }
}

.resource-list-item--wrap-description {
  & .resource-list-item__description {
    white-space: normal;
  }
}

.resource-list-item--wrap-label {
  & .resource-list-item__label {
    white-space: normal;
  }
}

.resource-list-item__content {
  --swirl-avatar-group-border-color: var(--s-background-default);
  --swirl-badge-border-color: var(--s-background-default);
  display: flex;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  border: none;
  color: var(--s-text-default);
  background: none;
  font: inherit;
  line-height: var(--s-line-height-sm);
  text-align: left;
  text-decoration: none;
  gap: var(--s-space-12);

  &:focus,
  &:focus-visible {
    outline: none;
  }

  @media (--from-desktop-without-touch) {
    line-height: var(--s-line-height-base);
  }
}

.resource-list-item__media {
  display: inline-flex;
  flex-shrink: 0;
}

.resource-list-item__label-container {
  position: relative;
  display: flex;
  height: 100%;
  min-width: 0;
  min-height: 3rem;
  padding-right: var(--s-space-16);
  justify-content: center;
  flex-direction: column;
}

.resource-list-item__label {
  overflow: hidden;
  font-size: var(--s-font-size-base);
  line-height: var(--s-line-height-base);
  white-space: nowrap;
  text-overflow: ellipsis;

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}

.resource-list-item__description {
  overflow: hidden;
  color: var(--s-text-subdued);
  font-size: var(--s-font-size-sm);
  line-height: var(--s-line-height-sm);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-list-item__menu-trigger {
  position: absolute;
  top: 50%;
  right: var(--s-space-16);
  transform: translateY(-50%);
}

.resource-list-item__control {
  align-self: center;
}

.resource-list-item__checkbox {
  position: absolute;
  top: 50%;
  right: var(--s-space-16);
  display: flex;
  width: 1.125rem;
  height: 1.125rem;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid var(--s-icon-default);
  border-radius: var(--s-border-radius-s);
  transform: translateY(-50%);
  pointer-events: none;

  @media (--from-tablet) {
    right: auto;
    left: calc(var(--s-space-16) - var(--s-space-2));
  }
}

.resource-list-item__checkbox-icon {
  display: inline-flex;
  width: 1.0625rem;
  height: 1.0625rem;

  & > *::part(icon) {
    width: 1.0625rem;
    height: 1.0625rem;
  }
}

.resource-list-item__meta {
  display: flex;
  align-items: flex-end;
  color: var(--s-text-subdued);
  font-size: var(--s-font-size-sm);
  flex-direction: column;
  align-self: flex-start;
  gap: var(--s-space-2);

  &:not(:has(.resource-list-item__meta-text)) {
    align-self: center;
  }
}

.resource-list-item__meta-text {
  line-height: var(--s-line-height-base);
  margin-top: var(--s-space-2);
  white-space: nowrap;

  @media (--from-desktop-without-touch) {
    line-height: var(--s-line-height-sm);
    margin-top: var(--s-space-4);
  }
}

.resource-list-item__badges {
  display: inline-flex;
  width: max-content;
}

.resource-list-item__drag-handle {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: var(--s-space-4);
  display: inline-flex;
  margin: 0;
  padding: var(--s-space-8);
  flex-shrink: 0;
  border: none;
  color: var(--s-icon-default);
  background-color: transparent;
  cursor: grab;
  transform: translateY(-50%);

  &:active {
    cursor: grabbing;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
  }
}
