@import "../../styles/media-queries.css";

:host {
  position: relative;
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.resource-list-item {
  position: relative;
  width: 100%;
}

.resource-list-item--interactive {
  &:hover {
    --swirl-ghost-button-background-default: var(--s-background-hovered);
  }

  & .resource-list-item__content {
    cursor: pointer;

    &:disabled {
      cursor: default;
    }

    &:hover:not(:disabled) {
      background-color: var(--swirl-resource-list-item-background-hovered);

      & .resource-list-item__media {
        --swirl-avatar-background-color: var(--s-surface-raised-hovered);
        --swirl-avatar-group-border-color: var(--s-background-hovered);
        --swirl-badge-border-color: var(--s-background-hovered);
      }
    }

    &:active:not(:disabled) {
      background-color: var(--swirl-resource-list-item-background-pressed);

      & .resource-list-item__media {
        --swirl-avatar-group-border-color: var(--s-background-pressed);
        --swirl-badge-border-color: var(--s-background-pressed);
      }
    }
  }
}

.resource-list-item--checked {
  & .resource-list-item__checkbox {
    border-color: var(--s-icon-highlight);
    color: var(--s-text-on-status);
    background-color: var(--s-icon-highlight);
  }
}

.resource-list-item--has-menu {
  & .resource-list-item__label-container {
    padding-right: calc(var(--s-space-16) + 2.5rem + var(--s-space-12));
  }
}

.resource-list-item--selectable {
  & .resource-list-item__content {
    @media (--from-tablet) {
      padding-left: calc(var(--s-space-16) + 1.5rem + var(--s-space-12));
    }
  }

  & .resource-list-item__label-container {
    padding-right: calc(var(--s-space-16) + 1.5rem + var(--s-space-12));

    @media (--from-tablet) {
      padding-right: var(--s-space-16);
    }
  }
}

.resource-list-item--hide-divider {
  & .resource-list-item__label-container:after {
    display: none;
  }
}

.resource-list-item--label-weight-medium {
  font-weight: var(--s-font-weight-medium);
}

.resource-list-item--draggable {
  & .resource-list-item__content {
    padding-left: calc(var(--s-space-16) * 2 + 1.5rem);

    @media (--from-desktop-without-touch) {
      padding-left: calc(var(--s-space-16) * 2 + 1rem);
    }
  }
}

.resource-list-item--dragging {
  z-index: 1;
  border-radius: var(--s-border-radius-s);
  background-color: var(--s-surface-overlay-pressed);
  box-shadow: 0 0.0625rem 0.125rem rgba(25, 26, 28, 0.08),
    0 0.25rem 2rem rgba(25, 26, 28, 0.16);

  &:hover:not(.resource-list-item--disabled) {
    background-color: var(--s-surface-overlay-pressed);
  }
}

.resource-list-item--disabled {
  & .resource-list-item__checkbox {
    border-color: var(--s-icon-disabled);
    background-color: var(--s-icon-disabled);
  }

  & .resource-list-item__checkbox-icon {
    color: var(--s-text-on-status);
  }
}

.resource-list-item__content {
  --swirl-avatar-group-border-color: var(--s-background-default);
  --swirl-badge-border-color: var(--s-background-default);

  display: flex;
  width: 100%;
  margin: 0;
  padding-top: var(--s-space-12);
  padding-right: 0;
  padding-bottom: var(--s-space-12);
  padding-left: var(--s-space-16);
  align-items: center;
  border: none;
  color: var(--s-text-default);
  background-color: var(--swirl-resource-list-item-background-default);
  font: inherit;
  line-height: var(--s-line-height-base);
  text-align: left;
  text-decoration: none;
  gap: var(--s-space-12);

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: var(--s-background-hovered);

    & .resource-list-item__media {
      --swirl-avatar-group-border-color: var(--s-background-hovered);
      --swirl-badge-border-color: var(--s-background-hovered);
    }
  }

  &:disabled {
    color: var(--s-text-disabled);
    cursor: default;

    & .resource-list-item__description {
      color: var(--s-text-disabled);
    }
  }

  @media (--from-desktop-without-touch) {
    padding: var(--s-space-12);
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}

.resource-list-item__media {
  display: inline-flex;
}

.resource-list-item__label-container {
  position: relative;
  display: flex;
  min-width: 0;
  min-height: 2.875rem;
  padding-right: var(--s-space-16);
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;

  &:after {
    position: absolute;
    right: 0;
    bottom: calc(-1 * var(--s-space-12));
    left: 0;
    height: 0.0625rem;
    background-color: var(--s-border-default);
    content: "";
  }
}

.resource-list-item__label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  & b,
  & strong {
    font-weight: var(--s-font-weight-semibold);
  }
}

.resource-list-item__description {
  overflow: hidden;
  margin-top: var(--s-space-2);
  color: var(--s-text-subdued);
  font-size: var(--s-font-size-sm);
  line-height: var(--s-line-height-sm);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-list-item__menu-trigger {
  position: absolute;
  top: 50%;
  right: var(--s-space-16);
  transform: translateY(-50%);
}

.resource-list-item__checkbox {
  position: absolute;
  top: 50%;
  right: var(--s-space-16);
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid var(--s-icon-default);
  border-radius: var(--s-border-radius-s);
  transform: translateY(-50%);
  pointer-events: none;

  @media (--from-tablet) {
    right: auto;
    left: var(--s-space-16);
  }
}

.resource-list-item__checkbox-icon {
  display: inline-flex;
  width: 1.0625rem;
  height: 1.0625rem;

  & > *::part(icon) {
    width: 1.0625rem;
    height: 1.0625rem;
  }
}

.resource-list-item__meta {
  position: absolute;
  top: calc(var(--s-space-12) + var(--s-space-4));
  right: var(--s-space-16);
  color: var(--s-text-subdued);
  font-size: var(--s-font-size-sm);
}

.resource-list-item__drag-handle {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: var(--s-space-4);
  display: inline-flex;
  margin: 0;
  padding: 0;
  padding: var(--s-space-8);
  flex-shrink: 0;
  border: none;
  color: var(--s-icon-default);
  background-color: transparent;
  cursor: grab;
  transform: translateY(-50%);

  &:active {
    cursor: grabbing;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
  }
}
