@import "../../styles/media-queries.css";

:host {
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.resource-list-item {
  position: relative;
  width: 100%;
}

.resource-list-item--checked {
  & .resource-list-item__checkbox {
    border-color: var(--s-icon-highlight);
    color: var(--s-text-on-status);
    background-color: var(--s-icon-highlight);
  }
}

.resource-list-item--has-menu {
  & .resource-list-item__label-container {
    padding-right: calc(var(--s-space-16) + 2.5rem + var(--s-space-12));
  }
}

.resource-list-item--selectable {
  & .resource-list-item__content {
    @media (--from-tablet) {
      padding-left: calc(var(--s-space-16) + 1.5rem + var(--s-space-12));
    }
  }

  & .resource-list-item__label-container {
    padding-right: calc(var(--s-space-16) + 1.5rem + var(--s-space-12));

    @media (--from-tablet) {
      padding-right: var(--s-space-16);
    }
  }
}

.resource-list-item--hide-divider {
  & .resource-list-item__label-container:after {
    display: none;
  }
}

.resource-list-item__content {
  --swirl-avatar-group-border-color: var(--s-background-default);
  --swirl-badge-border-color: var(--s-background-default);

  display: flex;
  width: 100%;
  margin: 0;
  padding-top: var(--s-space-12);
  padding-right: 0;
  padding-bottom: var(--s-space-12);
  padding-left: var(--s-space-16);
  align-items: center;
  border: none;
  color: var(--s-text-default);
  background-color: var(--s-background-default);
  font: inherit;
  line-height: var(--s-line-height-base);
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  gap: var(--s-space-12);

  &:hover:not(:disabled) {
    background-color: var(--s-background-hovered);

    & .resource-list-item__media {
      --swirl-avatar-group-border-color: var(--s-background-hovered);
      --swirl-badge-border-color: var(--s-background-hovered);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--s-background-pressed);

    & .resource-list-item__media {
      --swirl-avatar-group-border-color: var(--s-background-pressed);
      --swirl-badge-border-color: var(--s-background-pressed);
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: var(--s-background-hovered);

    & .resource-list-item__media {
      --swirl-avatar-group-border-color: var(--s-background-hovered);
      --swirl-badge-border-color: var(--s-background-hovered);
    }
  }

  &:disabled {
    color: var(--s-text-disabled);
    background-color: var(--s-background-default);
    cursor: default;

    & .resource-list-item__description {
      color: var(--s-text-disabled);
    }
  }

  @media (--from-desktop-without-touch) {
    padding: var(--s-space-12);
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}

.resource-list-item__media {
  display: inline-flex;
}

.resource-list-item__label-container {
  position: relative;
  display: flex;
  min-width: 0;
  min-height: 2.875rem;
  padding-right: var(--s-space-16);
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;

  &:after {
    position: absolute;
    right: 0;
    bottom: calc(-1 * var(--s-space-12));
    left: 0;
    height: 0.0625rem;
    background-color: var(--s-border-default);
    content: "";
  }
}

.resource-list-item__label {
  overflow: hidden;
  font-weight: var(--s-font-weight-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-list-item__description {
  overflow: hidden;
  margin-top: var(--s-space-2);
  color: var(--s-text-subdued);
  font-size: var(--s-font-size-sm);
  line-height: var(--s-line-height-sm);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-list-item__menu-trigger {
  position: absolute;
  top: 50%;
  right: var(--s-space-16);
  transform: translateY(-50%);
}

.resource-list-item__checkbox {
  position: absolute;
  top: 50%;
  right: var(--s-space-16);
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid var(--s-icon-default);
  border-radius: var(--s-border-radius-s);
  transform: translateY(-50%);

  @media (--from-tablet) {
    right: auto;
    left: var(--s-space-16);
  }
}

.resource-list-item__checkbox-icon {
  display: inline-flex;
  width: 1.0625rem;
  height: 1.0625rem;

  & > *::part(icon) {
    width: 1.0625rem;
    height: 1.0625rem;
  }
}

.resource-list-item__meta {
  position: absolute;
  top: calc(var(--s-space-12) + var(--s-space-4));
  right: var(--s-space-16);
  color: var(--s-text-subdued);
  font-size: var(--s-font-size-sm);
}
