:host {
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.stack {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 0;

  & ::slotted(*) {
    min-width: 0;
    max-width: 100%;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
  }
}

ol.stack,
ul.stack {
  margin: 0;
  padding: 0;
  list-style: none;
}

.stack--align-start {
  align-items: flex-start;
  text-align: initial; /* skip native behavior of setting text-align when using the align attribute */
}

.stack--align-center {
  align-items: center;
  text-align: initial; /* skip native behavior of setting text-align when using the align attribute */
}

.stack--align-end {
  align-items: flex-end;
  text-align: initial; /* skip native behavior of setting text-align when using the align attribute */
}

.stack--align-stretch {
  align-items: stretch;
  text-align: initial; /* skip native behavior of setting text-align when using the align attribute */
}

.stack--justify-start {
  justify-content: flex-start;
}

.stack--justify-center {
  justify-content: center;
}

.stack--justify-end {
  justify-content: flex-end;
}

.stack--justify-space-between {
  justify-content: space-between;
}

.stack--justify-space-around {
  justify-content: space-around;
}

.stack--justify-space-evenly {
  justify-content: space-evenly;
}

.stack--justify-stretch {
  justify-content: stretch;

  & ::slotted(*) {
    flex-grow: 1;
  }
}

.stack--orientation-vertical {
  flex-direction: column;
}

.stack--orientation-vertical-reverse {
  flex-direction: column-reverse;
}

.stack--orientation-horizontal {
  flex-direction: row;
}

.stack--orientation-horizontal-reverse {
  flex-direction: row-reverse;
}

.stack--wrap {
  flex-wrap: wrap;
}
