:host {
  position: relative;
  display: inline-flex;
  max-height: 100%;
  pointer-events: none;

  & * {
    box-sizing: border-box;
  }
}

.file-viewer-image {
  display: inline-flex;
  pointer-events: none;
  justify-content: center;
}

.file-viewer-image__image {
  pointer-events: auto;
  max-width: 100%;
  object-fit: contain;
}

.file-viewer-image__spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
}

.file-viewer-image__error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
