:host {
  display: block;
  container-type: inline-size;
  container-name: description-list;

  & * {
    box-sizing: border-box;
  }
}

.description-list {
  display: block;
  max-width: 100%;
  margin: 0;
  padding-top: var(--s-space-16);

  & ::slotted(*) {
    padding-bottom: var(--s-space-16);
    border-bottom: var(--s-border-width-default) solid var(--s-border-default);
  }

  & ::slotted(*:not(:last-child)) {
    margin-bottom: var(--s-space-16);
  }
}
