@import "../../styles/media-queries.css";

:host {
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.select {
  position: relative;
  display: flex;
  width: 100%;

  & ::part(popover__content) {
    margin-top: var(--s-space-16);
  }
}

.select--placement-top-start {
  & ::part(popover__content) {
    margin-top: -2.25rem;
  }
}

.select--multi {
  & .select__input {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
  }

  & .select__multi-select-values {
    display: flex;
  }
}

.select--disabled {
  & .select__input {
    color: var(--s-text-disabled);
  }

  & .select__indicator {
    color: var(--s-icon-disabled);
  }
}

.select--inline {
  & .select__indicator {
    transform: translateY(-50%);
  }
}

.select__input {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  padding-right: calc(1.5rem + var(--s-space-8));
  border: none;
  background-color: transparent;
  font: inherit;
  line-height: var(--s-line-height-base);
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;

  &:focus {
    outline: none;
  }

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}

.select__multi-select-values {
  display: none;
  overflow: hidden;
  width: 100%;
  min-height: 1.25rem;
  padding-right: calc(1.5rem + var(--s-space-8));
  flex-wrap: wrap;
  gap: var(--s-space-8);

  & ::part(tag) {
    height: 1.25rem;
    padding: 0 var(--s-space-4);
  }
}

.select__indicator {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-flex;
  color: var(--s-icon-default);
  transform: translateY(calc(-50% - var(--s-space-8)));
}
