:host {
  display: flex;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.date-input {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--s-text-default);
  line-height: var(--s-line-height-sm);
}

.date-input--inline {
  & .date-input__date-picker-button {
    top: -0.0625rem;

    @media (--from-desktop-without-touch) {
      top: 0;
    }
  }
}

.date-input__input {
  display: inline-flex;
  width: calc(100% - 1.25rem - var(--s-space-8));
  margin: 0;
  padding: 0;
  border: none;
  color: var(--s-text-default);
  background-color: transparent;
  font: inherit;
  font-size: var(--s-font-size-base);
  line-height: var(--s-line-height-base);
  caret-color: var(--s-border-highlight);

  &:focus {
    outline: none;
  }

  &:disabled {
    color: var(--s-text-disabled);
    background-color: transparent;
  }

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}

.date-input__date-picker-button {
  position: absolute;
  top: calc(-1 * var(--s-space-12));
  right: 0;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--s-icon-default);
  background-color: transparent;
  cursor: pointer;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
    outline-offset: var(--s-space-2);
  }

  &:disabled {
    color: var(--s-icon-disabled);
    cursor: default;
  }

  @media (--from-desktop-without-touch) {
    top: -0.625rem;
  }
}

.date-input__date-picker-popover {
  @media (--to-tablet) {
    position: fixed;
  }
}
