@import "../../styles/media-queries.css";

:host {
  display: inline-flex;

  & * {
    box-sizing: border-box;
  }
}

.link {
  color: var(--s-interactive-primary-default);
  line-height: var(--s-line-height-base);
  text-underline-offset: var(--s-space-4);

  &:hover {
    color: var(--s-interactive-primary-hovered);
  }

  &:active {
    color: var(--s-interactive-primary-pressed);
  }

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}
