/**
* seems the container query does not work as expected
*/

:host {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 2.75rem;
  padding: var(--s-space-12);
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--s-border-radius-sm);
  background-color: var(--s-surface-sunken-default);
  font-size: var(--s-font-size-sm);
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-sm);
  cursor: pointer;
  container-type: inline-size;
  gap: var(--s-space-16);

  &(:hover) {
    background-color: var(--s-surface-sunken-hovered);

    & .shell-navigation-item__badge {
      --swirl-badge-border-color: var(--s-surface-sunken-hovered);
    }
  }

  &(:active) {
    background-color: var(--s-surface-sunken-pressed);

    & .shell-navigation-item__badge {
      --swirl-badge-border-color: var(--s-surface-sunken-pressed);
    }
  }

  &(:focus) {
    outline: none;
  }

  &(:focus-visible) {
    z-index: 1;
    box-shadow: 0 0 0 0.125rem var(--s-focus-default);
  }

  &(.shell-navigation-item--active) {
    background-color: var(--s-surface-sunken-hovered);

    & .shell-navigation-item__badge {
      --swirl-badge-border-color: var(--s-surface-sunken-hovered);
    }
  }

  &(.shell-navigation-item--active:hover) {
    background-color: var(--s-surface-sunken-hovered);

    & .shell-navigation-item__badge {
      --swirl-badge-border-color: var(--s-surface-sunken-hovered);
    }
  }

  &(.shell-navigation-item--active:active) {
    background-color: var(--s-surface-sunken-pressed);

    & .shell-navigation-item__badge {
      --swirl-badge-border-color: var(--s-surface-sunken-pressed);
    }
  }

  & * {
    box-sizing: border-box;
  }
}

.shell-navigation-item__icon {
  display: inline-flex;
  min-width: 1.25rem;
  min-height: 1.25rem;
  justify-content: center;
  align-items: center;
}

.shell-navigation-item__label {
  overflow: hidden;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shell-navigation-item__badge {
  --swirl-badge-border-color: var(--swirl-shell-background);
}

@container (max-width: 4rem) {
  .shell-navigation-item__label {
    display: none;
  }

  .shell-navigation-item__badge {
    position: absolute;
    right: var(--s-space-4);
    bottom: 0;
  }
}

@container (min-width: 14rem) {
  .shell-navigation-item__badge {
    margin-left: auto;
    padding-right: var(--s-space-4);
  }
}
