# Global
* @Sqrrl

# Packages
packages/swirl-components/*          @Sqrrl
packages/swirl-components-angular/*  @Sqrrl
packages/swirl-components-react/*    @Sqrrl
packages/swirl-icons/*               @Sqrrl
packages/swirl-tokens/*              @webspaceadam
