# Global
* @Sqrrl @webspaceadam

# Packages
packages/swirl-components/*          @Sqrrl @webspaceadam
packages/swirl-components-angular/*  @Sqrrl @webspaceadam
packages/swirl-components-react/*    @Sqrrl @webspaceadam
packages/swirl-icons/*               @Sqrrl @webspaceadam
packages/swirl-tokens/*              @webspaceadam @Sqrrl
apps/swirl-docs/*                    @webspaceadam @Sqrrl
