:host {
  display: contents;

  & * {
    box-sizing: border-box;
  }
}

.card {
  --swirl-ghost-button-background-default: var(--s-surface-default);
  --swirl-ghost-button-background-hovered: var(--s-surface-hovered);
  --swirl-ghost-button-background-pressed: var(--s-surface-pressed);
  --swirl-resource-list-item-background-default: var(--s-surface-default);
  --swirl-resource-list-item-background-hovered: var(--s-surface-hovered);
  --swirl-resource-list-item-background-pressed: var(--s-surface-pressed);

  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  border: var(--s-border-width-default) solid var(--s-border-default);
  border-radius: var(--s-border-radius-base);
  color: var(--s-text-default);
  background-color: var(--swirl-card-background-default);
  font: inherit;
  text-decoration: none;
  flex-direction: column;
}

a.card,
button.card,
.card--interactive {
  cursor: pointer;

  &:hover {
    background-color: var(--swirl-card-background-hovered);
  }

  &:active {
    background-color: var(--swirl-card-background-pressed);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
    outline-offset: var(--s-space-4);
  }
}

.card--is--borderless {
  border: 0;
}

.card--elevated {
  &.card--elevation-level-1 {
    box-shadow: var(--s-shadow-level-1);
  }

  &.card--elevation-level-2 {
    box-shadow: var(--s-shadow-level-2);
  }

  &.card--elevation-level-3 {
    box-shadow: var(--s-shadow-level-3);
  }
}

.card--highlighted {
  border-width: 0.1875rem;
  border-color: var(--s-border-highlight);
}

.card--justify-content-start {
  & .card__body {
    justify-content: flex-start;
  }
}

.card--justify-content-center {
  & .card__body {
    justify-content: center;
  }
}

.card--justify-content-end {
  & .card__body {
    justify-content: flex-end;
  }
}

:not(.card--has-image) {
  & .card__image {
    overflow: hidden;
    height: 0;
  }
}

.card--intent-critical-subdued {
  background-color: var(--s-surface-critical-subdued);
}

.card--intent-default-subdued {
  --swirl-resource-list-item-background-default: var(
    --s-surface-raised-default
  );
  --swirl-resource-list-item-background-hovered: var(
    --s-surface-raised-hovered
  );
  --swirl-resource-list-item-background-pressed: var(
    --s-surface-raised-pressed
  );

  --swirl-ghost-button-background-default: var(--s-surface-raised-default);
  --swirl-ghost-button-background-hovered: var(--s-surface-raised-hovered);
  --swirl-ghost-button-background-pressed: var(--s-surface-raised-pressed);

  background-color: var(--s-surface-raised-default);
}

.card--intent-info-subdued {
  background-color: var(--s-surface-info-subdued);
}

.card--intent-success-subdued {
  background-color: var(--s-surface-success-subdued);
}

.card--intent-warning-subdued {
  background-color: var(--s-surface-warning-subdued);
}

.card--intent-highlight {
  background-color: var(--s-surface-highlight-default);
  color: var(--s-text-on-surface-highlight);
}

.content-section {
  padding: 0 var(--s-space-16);
}

.card__image {
  overflow: hidden;
  min-height: 0;

  & ::slotted(img) {
    display: inline-flex;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.card__body {
  display: flex;
  min-height: 0;
  padding: var(--s-space-12) var(--s-space-16) var(--s-space-16);
  flex-grow: 1;
  flex-direction: column;
  gap: var(--s-space-16);
}

.card__header {
}

.card__content {
}
