:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.card {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  border: var(--s-border-width-default) solid var(--s-border-default);
  border-radius: var(--s-border-radius-base);
  color: var(--s-text-default);
  background-color: var(--s-surface-default);
  font: inherit;
  text-decoration: none;
  flex-direction: column;
}

a.card,
button.card,
.card--interactive {
  cursor: pointer;

  &:hover {
    background-color: var(--s-surface-hovered);
  }

  &:active {
    background-color: var(--s-surface-pressed);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
    outline-offset: var(--s-space-4);
  }
}

.card--elevated {
  border-color: transparent;
  box-shadow: 0 0.75rem 1rem rgba(25, 26, 28, 0.12),
    0 0.25rem 0.75rem rgba(25, 26, 28, 0.08);
}

.card--highlighted {
  border-width: 0.1875rem;
  border-color: var(--s-border-highlight);
}

.card--justify-content-start {
  & .card__body {
    justify-content: flex-start;
  }
}

.card--justify-content-center {
  & .card__body {
    justify-content: center;
  }
}

.card--justify-content-end {
  & .card__body {
    justify-content: flex-end;
  }
}

:not(.card--has-image) {
  & .card__image {
    overflow: hidden;
    height: 0;
  }
}

.content-section {
  padding: 0 var(--s-space-16);
}

.card__image {
  overflow: hidden;
  min-height: 0;

  & ::slotted(img) {
    display: inline-flex;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.card__body {
  display: flex;
  min-height: 0;
  padding: var(--s-space-12) var(--s-space-16) var(--s-space-16);
  flex-grow: 1;
  flex-direction: column;
  gap: var(--s-space-16);
}

.card__header {
}

.card__content {
}
