@import "../../styles/media-queries.css";

:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.modal {
  --swirl-ghost-button-background-default: var(--s-surface-overlay-default);
  --swirl-ghost-button-background-hovered: var(--s-surface-overlay-hovered);
  --swirl-ghost-button-background-pressed: var(--s-surface-overlay-pressed);
  --swirl-resource-list-item-background-default: var(
    --s-surface-overlay-default
  );
  --swirl-resource-list-item-background-hovered: var(
    --s-surface-overlay-hovered
  );
  --swirl-resource-list-item-background-pressed: var(
    --s-surface-overlay-pressed
  );
  --swirl-modal-height: auto;
  --swirl-modal-max-height: 90vh;
  --swirl-modal-view-height: 100vh;
  --swirl-modal-header-height: 3.75rem;

  --swirl-modal-max-width: 40rem;
  --swirl-modal-sidebar-width: 25rem;
  --swirl-modal-max-secondary-content-width: 24rem;
  --swirl-modal-footer-padding-small: var(--s-space-12) var(--s-space-16)
    var(--s-space-12) var(--s-space-16);
  --swirl-modal-footer-padding-large: var(--s-space-16) var(--s-space-24)
    var(--s-space-16) var(--s-space-24);

  @supports (height: 100dvh) {
    --swirl-modal-max-height: 90dvh;
    --swirl-modal-view-height: 100dvh;
  }

  position: fixed;
  z-index: var(--s-z-40);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--swirl-modal-view-height);
  inset: 0;

  &[aria-hidden="true"] {
    display: none;
  }
}

.modal--variant-default {
  &.modal--closing {
    animation: 0.15s modal-fade-out;
    animation-fill-mode: forwards;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  &:not(.modal--closing) {
    & .modal__backdrop {
      animation: 0.15s modal-backdrop-fade-in;

      @media (prefers-reduced-motion) {
        animation: none;
      }
    }

    & .modal__body {
      animation: 0.15s modal-scale-in;

      @media (prefers-reduced-motion) {
        animation: none;
      }
    }
  }
}

.modal--variant-drawer {
  justify-content: end;
  align-items: stretch;

  &.modal--closing {
    animation: 0.15s modal-drawer-slide-out;
    animation-fill-mode: forwards;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  &.modal--hide-label {
    & .modal__header-bar {
      @media (--from-tablet) {
        height: auto;
        padding-top: var(--s-space-4);
        padding-bottom: var(--s-space-4);
      }
    }
  }

  & .modal__backdrop {
    background-color: transparent;
    animation: none;
  }

  & .modal__body {
    height: 100%;
    max-height: none;
    border-radius: 0;
    animation: 0.15s modal-drawer-slide-in;
    box-shadow: var(--s-shadow-level-3);

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  & .modal__header-bar {
    background-color: var(--s-surface-overlay-default);

    & .modal__close-button {
      margin-left: calc(-1 * var(--s-space-8));
    }

    @media (--from-tablet) {
      flex-direction: row;
    }
  }

  &.modal--padded .modal__content {
    @media (--from-tablet) {
      padding-top: var(--s-space-8);
    }
  }
}

.modal--padded {
  & .modal__content {
    padding-top: var(--s-space-24);
    padding-right: var(--s-space-16);
    padding-bottom: var(--s-space-24);
    padding-left: var(--s-space-16);

    @media (--from-tablet) {
      padding-top: 0;
      padding-right: var(--s-space-24);
      padding-bottom: var(--s-space-16);
      padding-left: var(--s-space-24);
    }
  }
}

.modal--scrollable {
  & .modal__content {
    @media (--from-tablet) {
      padding-bottom: 0;
    }
  }

  &:not(.modal--scrolled-down) {
    &.modal--has-custom-footer {
      & .modal__custom-footer {
        border-top: var(--s-border-width-default) solid var(--s-border-default);
      }
    }

    &:not(.modal--has-custom-footer) {
      & .modal__controls {
        border-top: var(--s-border-width-default) solid var(--s-border-default);
      }
    }
  }
}

.modal--has-custom-header {
  & .modal__custom-header {
    display: block;
  }

  & .modal__content {
    padding-top: var(--s-space-16);
  }
}

.modal--has-custom-footer {
  & .modal__custom-footer {
    padding: var(--swirl-modal-footer-padding-small);

    @media (--from-tablet) {
      padding: var(--swirl-modal-footer-padding-large);
    }
  }
}

.modal--has-header-tools {
  & .modal__header {
    border-bottom-color: transparent;
  }

  & .modal__header-tools {
    display: block;
  }
}

.modal--has-secondary-content {
  & .modal__body {
    max-width: calc(
      var(--swirl-modal-max-width) +
        var(--swirl-modal-max-secondary-content-width)
    );
  }

  &:not(.modal--has-header-tools):not(.modal--hide-secondary-content-borders)
    .modal__header {
    border-bottom-color: var(--s-border-default);
  }

  &.modal--has-header-tools:not(.modal--hide-secondary-content-borders)
    .modal__header-tools {
    border-bottom-color: var(--s-border-default);
  }

  &.modal--has-custom-footer:not(.modal--hide-secondary-content-borders) {
    & .modal__custom-footer {
      border-top: var(--s-border-width-default) solid var(--s-border-default);
    }
  }

  &:not(.modal--has-custom-footer):not(.modal--hide-secondary-content-borders) {
    & .modal__controls {
      border-top: var(--s-border-width-default) solid var(--s-border-default);
    }
  }

  & .modal__header-tools,
  & .modal__content {
    @media (--from-desktop) {
      padding-right: 0;
    }
  }

  & .modal__primary-content {
    overflow: visible;
    max-height: 60%;
    flex-basis: auto;

    @media (--from-desktop) {
      max-width: calc(100% - var(--swirl-modal-max-secondary-content-width));
      max-height: none;
      flex-basis: calc(100% - var(--swirl-modal-max-secondary-content-width));
    }
  }

  & .modal__secondary-content {
    display: block;
  }
}

.modal__main-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.modal__sidebar {
  display: none;
}

.modal--has-sidebar-content {
  & .modal__body {
    max-width: calc(
      var(--swirl-modal-max-width) + var(--swirl-modal-sidebar-width)
    );
  }
  @media (--from-tablet) {
    & .modal__sidebar {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      flex-shrink: 0;
      width: var(--swirl-modal-sidebar-width);
      border-right: var(--s-border-width-default) solid var(--s-border-default);

      & .modal__sidebar-header {
        border-bottom: var(--s-border-width-default) solid transparent;

        & .modal__sidebar-heading {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          height: var(--swirl-modal-header-height);
          padding-top: var(--s-space-12);
          padding-right: var(--s-space-24);
          padding-bottom: var(--s-space-12);
          padding-left: var(--s-space-24);
        }
      }

      & .modal__sidebar-content {
        display: block;
        padding-left: var(--s-space-24);
        padding-right: var(--s-space-24);
        padding-bottom: var(--s-space-16);
        padding-top: var(--s-space-16);
        flex-grow: 1;
        overflow-y: auto;
      }
    }
  }

  @media (--from-desktop) {
    & .modal__primary-content {
      flex-basis: calc(100% - 20rem);
    }
  }
}

.modal--scrolled {
  @media (--from-tablet) {
    &:not(.modal--has-header-tools) .modal__header {
      border-bottom-color: var(--s-border-default);
    }

    &.modal--has-header-tools .modal__header-tools {
      border-bottom-color: var(--s-border-default);
    }

    .modal__custom-header {
      border-bottom-color: var(--s-border-default);
    }

    .modal__sidebar .modal__sidebar-header {
      border-bottom-color: var(--s-border-default);
    }
  }
}

.modal__backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
}

.modal__body {
  --swirl-card-background-default: var(--s-surface-overlay-default);
  --swirl-card-background-hovered: var(--s-surface-overlay-hovered);
  --swirl-card-background-pressed: var(--s-surface-overlay-pressed);

  --swirl-accordion-item-toggle-default: var(--s-surface-overlay-default);
  --swirl-accordion-item-toggle-hovered: var(--s-surface-overlay-hovered);
  --swirl-accordion-item-toggle-pressed: var(--s-surface-overlay-pressed);

  position: relative;
  z-index: var(--s-z-40);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100vw;
  height: var(--swirl-modal-view-height);
  background-color: var(--s-surface-overlay-default);

  @media (--from-tablet) {
    width: 90vw;
    max-width: var(--swirl-modal-max-width);
    max-height: var(--swirl-modal-max-height);
    border-radius: var(--s-border-radius-base);
    box-shadow: var(--s-shadow-level-3);
  }

  @media (--from-desktop) {
    height: var(--swirl-modal-height);
  }
}

.modal__header {
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);

  @media (--from-tablet) {
    border-bottom: var(--s-border-width-default) solid transparent;
  }
}

.modal__header-bar {
  display: flex;
  height: 3.5rem;
  padding-top: var(--s-space-8);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-8);
  padding-left: var(--s-space-16);
  flex-shrink: 0;
  align-items: center;
  gap: var(--s-space-8);

  @media (--from-tablet) {
    height: var(--swirl-modal-header-height);
    padding-top: var(--s-space-12);
    padding-right: var(--s-space-24);
    padding-bottom: var(--s-space-12);
    padding-left: var(--s-space-24);
    flex-direction: row-reverse;
    gap: var(--s-space-16);
  }
}

.modal__header-tools {
  display: none;
  padding-right: var(--s-space-16);
  padding-left: var(--s-space-16);
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);

  @media (--from-tablet) {
    padding-right: var(--s-space-24);
    padding-left: var(--s-space-24);
    border-bottom-color: transparent;
  }
}

.modal__custom-header {
  display: none;
  flex-shrink: 0;
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);

  @media (--from-tablet) {
    border-bottom-color: transparent;
  }
}

.modal__heading {
  overflow: hidden;

  & .heading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.modal__content-container {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--s-space-24);

  @media (--from-desktop) {
    flex-direction: row;
  }
}

.modal__primary-content {
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  flex-grow: 1;
  flex-basis: 100%;
  flex-direction: column;
}

.modal__content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;

  & ::slotted(*) {
    margin: 0;
  }
}

.modal__secondary-content {
  display: none;
  overflow: visible;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: none;
  max-height: 40%;
  padding-right: var(--s-space-16);
  padding-left: var(--s-space-16);

  @media (--from-tablet) {
    padding-left: var(--s-space-24);
  }

  @media (--from-desktop) {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: var(--swirl-modal-max-secondary-content-width);
    max-height: none;
    padding-right: var(--s-space-24);
    padding-bottom: var(--s-space-16);
    padding-left: 0;
    flex-basis: 50%;
    flex-grow: 1;
  }
}

.modal__custom-footer {
  flex-shrink: 0;
}

.modal__controls {
  display: flex;
  padding: var(--swirl-modal-footer-padding-small);
  flex-shrink: 0;
  justify-content: flex-end;

  @media (--from-tablet) {
    padding: var(--swirl-modal-footer-padding-large);
  }
}

.modal--has-secondary-content.modal--has-sidebar-content {
  & .modal__body {
    max-width: calc(
      var(--swirl-modal-max-width) + var(--swirl-modal-sidebar-width) +
        var(--swirl-modal-max-secondary-content-width)
    );
  }
}

@keyframes modal-scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes modal-backdrop-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modal-drawer-slide-in {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes modal-drawer-slide-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
