:host {
  display: flex;

  & * {
    box-sizing: border-box;
  }
}

.toast {
  display: flex;
  max-width: 28rem;
  padding: var(--s-space-4);
  border-radius: 0.75rem;
  color: var(--s-text-on-status);
  background-color: var(--s-surface-neutral-default);
}

.toast--intent-critical {
  background-color: var(--s-surface-critical-default);
}

.toast--intent-success {
  background-color: var(--s-surface-success-default);
}

.toast--intent-warning {
  color: var(--s-text-default);
  background-color: var(--s-surface-warning-default);

  & .toast__icon,
  & .toast__dismiss-button {
    & ::part(icon) {
      color: var(--s-icon-strong);
    }
  }
}

.toast--intent-info {
  background-color: var(--s-surface-info-default);
}

.toast__icon {
  display: inline-flex;
  margin-top: calc(-1 * var(--s-space-05));
  margin-right: 0.625rem;
  flex-shrink: 0;

  & ::part(icon) {
    color: var(--s-icon-on-status);
  }
}

.toast__content {
  flex-grow: 1;
  line-height: 1.375;
}

.toast__dismiss-button {
  display: inline-flex;
  min-width: 1.5rem;
  height: 1.5rem;
  margin-top: calc(-1 * var(--s-space-05));
  margin-left: var(--s-space-4);
  padding: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--s-text-on-status);
  background-color: transparent;
  font: inherit;
  font-weight: var(--s-font-weight-semibold);
  cursor: pointer;

  & ::part(icon) {
    color: var(--s-icon-on-status);
  }
}
