@import "../../styles/media-queries.css";

:host {
  position: relative;
  z-index: var(--s-z-40);
  display: contents;

  & * {
    box-sizing: border-box;
  }

  --swirl-resource-list-item-background-default: var(
    --s-surface-overlay-default
  );
  --swirl-resource-list-item-background-hovered: var(
    --s-surface-overlay-hovered
  );
  --swirl-resource-list-item-background-pressed: var(
    --s-surface-overlay-pressed
  );
}

.popover {
  border: none;
  padding: 0;
  margin: 0;

  &::backdrop {
    display: none;
  }
}

.popover--active:not(.popover--closing) {
  & .popover__backdrop {
    animation: 0.15s popover-fade-in;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  & .popover__content {
    animation: 0.15s popover-slide-in;

    @media (--from-tablet) {
      animation: 0.15s popover-fade-scale-in-xy;
    }

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }
}

.popover--closing {
  & .popover__backdrop {
    animation: 0.15s popover-fade-out forwards;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  & .popover__content {
    animation: 0.15s popover-slide-out forwards;

    @media (--from-tablet) {
      animation: 0.15s popover-fade-out forwards;
    }

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }
}

.popover--inactive {
  & .popover__content {
    display: none;
  }
}

.popover--fullscreen-bottom-sheet {
  @media (--to-tablet) {
    &.popover--active:not(.popover--closing) {
      & .popover__content {
        animation: 0.15s popover-fade-in;

        @media (prefers-reduced-motion) {
          animation: none;
        }
      }
    }

    &.popover--closing {
      & .popover__content {
        animation: 0.15s popover-fade-out forwards;

        @media (prefers-reduced-motion) {
          animation: none;
        }
      }
    }

    & .popover__backdrop {
      display: none;
    }

    & .popover__content {
      top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    & .popover__scroll-container {
      height: 100%;
      max-height: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    & .popover__handle {
      display: none;
    }
  }
}

.popover--animation-scale-in-y {
  &.popover--active:not(.popover--closing) {
    & .popover__content {
      @media (--from-tablet) {
        animation: 0.15s popover-fade-scale-in-y;
      }

      @media (prefers-reduced-motion) {
        animation: none;
      }
    }
  }
}

.popover--animation-fade-in {
  &.popover--active:not(.popover--closing) {
    & .popover__content {
      @media (--from-tablet) {
        animation: 0.15s popover-fade-in;
      }

      @media (prefers-reduced-motion) {
        animation: none;
      }
    }
  }
}

.popover--placement-bottom,
.popover--placement-bottom-start,
.popover--placement-right,
.popover--placement-right-start {
  .popover__content {
    @media (--from-tablet) {
      transform-origin: top left;
    }
  }
}

.popover--placement-bottom-end,
.popover--placement-left,
.popover--placement-left-start {
  .popover__content {
    @media (--from-tablet) {
      transform-origin: top right;
    }
  }
}

.popover--placement-top,
.popover--placement-top-start,
.popover--placement-right-end {
  .popover__content {
    @media (--from-tablet) {
      transform-origin: bottom left;
    }
  }
}

.popover--placement-top-end,
.popover--placement-left-end {
  .popover__content {
    @media (--from-tablet) {
      transform-origin: bottom right;
    }
  }
}

.popover--transparent {
  & .popover__content {
    @media (--from-tablet) {
      background-color: transparent;
      box-shadow: none;
    }
  }

  & .popover__scroll-container {
    @media (--from-tablet) {
      padding: 0;
    }
  }
}

.popover__backdrop {
  position: fixed;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
  animation: 0.15s popover-backdrop-fade-in;
  inset: 0;

  @media (prefers-reduced-motion) {
    animation: none;
  }

  @media (--from-tablet) {
    display: none;
  }
}

.popover__content {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-top-left-radius: var(--s-border-radius-xl);
  border-top-right-radius: var(--s-border-radius-xl);
  background-color: var(--s-surface-overlay-default);

  @media (--from-tablet) {
    right: unset;
    bottom: unset;
    left: unset;
    max-width: 22.5rem;
    border-radius: var(--s-border-radius-base);
    animation: none;
    box-shadow: var(--s-shadow-level-2);
  }
}

.popover__scroll-container {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-height: 90vh;
  padding-top: var(--s-space-24);
  padding-bottom: var(--s-space-24);
  overscroll-behavior: contain;

  @media (--from-tablet) {
    max-height: 22rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.popover--padded {
  .popover__scroll-container {
    @media (--from-tablet) {
      padding: var(--s-space-4);
    }
  }
}

.popover__handle {
  position: absolute;
  top: var(--s-space-8);
  left: 50%;
  width: 2.5rem;
  height: 0.375rem;
  border-radius: 0.1875rem;
  background-color: var(--s-border-default);
  transform: translatex(-50%);

  @media (--from-tablet) {
    display: none;
  }
}

@keyframes popover-slide-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes popover-slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes popover-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popover-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes popover-fade-scale-in-xy {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popover-fade-scale-in-y {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
