@import "../../styles/media-queries.css";

:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.action-list-item {
  display: inline-flex;
  position: relative;
  width: 100%;
  min-width: 15rem;
  margin: 0;
  padding: var(--s-space-12) var(--s-space-16);
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: var(--s-border-radius-sm);
  color: var(--s-text-default);
  background-color: var(--s-surface-overlay-default);
  font: inherit;
  line-height: var(--s-line-height-base);
  text-align: left;
  cursor: pointer;
  gap: var(--s-space-12);

  &:hover {
    background-color: var(--s-surface-overlay-hovered);

    --swirl-tag-background-default: var(--s-surface-sunken-pressed);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: var(--s-surface-overlay-hovered);
    outline-color: var(--s-focus-default);
    outline-style: solid;
    outline-width: 0.125rem;
    z-index: 1;
  }

  &:active {
    background-color: var(--s-surface-overlay-pressed);
  }

  &:disabled {
    background-color: var(--s-surface-overlay-default);
    cursor: default;

    & .action-list-item__label,
    & .action-list-item__description {
      color: var(--s-text-disabled);
    }

    & .action-list-item__icon {
      color: var(--s-icon-disabled);
    }
  }

  @media (--from-desktop-without-touch) {
    padding: var(--s-space-8) var(--s-space-12);
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
    gap: var(--s-space-8);
  }
}

.action-list-item--size-l {
  padding: var(--s-space-16);
}

.action-list-item--intent-critical {
  & ::part(icon) {
    color: var(--s-icon-critical);
  }

  &:not(:disabled) {
    & .action-list-item__label {
      color: var(--s-text-critical);
    }

    & .action-list-item__icon {
      color: var(--s-icon-critical);
    }
  }
}

.action-list-item__icon {
  display: inline-flex;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: var(--s-icon-default);

  @media (--from-desktop-without-touch) {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.action-list-item__icon-badge {
  position: absolute;
  display: grid;
  bottom: 0;
  right: 0;
}

.action-list-item__label-container {
  display: inline-flex;
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: flex-start;
  flex-direction: column;
}

.action-list-item__label {
  overflow: hidden;
  max-width: 100%;
  font-weight: var(--s-font-weight-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.action-list-item__description {
  color: var(--s-text-subdued);
}

.action-list-item__badge {
  overflow: hidden;
  min-width: 4rem;
  padding-left: var(--s-space-8);
  flex-shrink: 3;
  color: var(--s-text-subdued);
  font-weight: var(--s-font-weight-medium);
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.action-list-item__suffix {
  display: inline-flex;
  flex-shrink: 0;
  color: var(--s-icon-default);
}
