@import "../../styles/media-queries.css";

:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.banner {
  display: flex;
  max-width: 100%;
  padding: var(--s-space-12);
  align-items: flex-start;

  &:focus {
    outline-color: var(--s-focus-default);
  }

  @media (--from-tablet) {
    padding: var(--s-space-16);
  }
}

.banner--intent-default,
.banner--intent-critical,
.banner--intent-success,
.banner--intent-info {
  & .banner__icon,
  & .banner__content,
  & .banner__action-button,
  & .banner__dismiss-button {
    color: var(--s-text-on-status);
  }
}

.banner--intent-default {
  background-color: var(--s-surface-neutral-default);
}

.banner--intent-critical {
  background-color: var(--s-surface-critical-default);
}

.banner--intent-success {
  background-color: var(--s-surface-success-default);
}

.banner--intent-info {
  background-color: var(--s-surface-info-default);
}

.banner--intent-warning {
  background-color: var(--s-surface-warning-default);

  & .banner__icon {
    color: var(--s-icon-strong);
  }

  & .banner__content,
  & .banner__action-button,
  & .banner__dismiss-button {
    color: var(--s-text-default);
  }
}

.banner--has-icon {
  & .banner__content {
    @media (--from-mobile) {
      padding-top: var(--s-space-2);
    }
  }
}

.banner__icon {
  display: none;
  margin-right: var(--s-space-8);
  color: var(--s-icon-on-status);

  @media (--from-mobile) {
    display: inline-flex;
  }
}

.banner__content {
  min-height: 1.5rem;
  margin-right: var(--s-space-12);
  flex-grow: 1;
  line-height: var(--s-line-height-base);
}

.banner__controls {
  display: inline-flex;
  margin-left: var(--s-space-16);
  align-items: center;
  gap: var(--s-space-16);
  line-height: var(--s-line-height-base);

  @media (--from-tablet) {
    gap: var(--s-space-24);
  }
}

.banner__action-button,
.banner__dismiss-button {
  display: inline-flex;
  overflow: hidden;
  max-width: 7rem;
  height: 1.5rem;
  padding: 0;
  flex-shrink: 0;
  align-items: center;
  border: none;
  background-color: transparent;
  font: inherit;
  font-weight: var(--s-font-weight-semibold);
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  &:focus {
    outline-color: var(--s-focus-default);
  }

  @media (--from-tablet) {
    max-width: 12rem;
  }
}
