@import "../../styles/media-queries.css";

:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.banner {
  display: flex;
  align-items: flex-start;

  max-width: 100%;
  min-height: 3.5rem;
  padding: var(--s-space-16);

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
    outline-offset: var(--s-space-4);
  }

  @media (--from-desktop-without-touch) {
    padding: var(--s-space-16);
    min-height: 3.25rem;
  }
}

.banner--size-s {
  padding: var(--s-space-8);
  justify-content: center;

  & .banner__content {
    flex-grow: 0;
    text-align: center;
  }

  & .banner__controls {
    margin-left: 0;
  }
}

.banner--intent-default,
.banner--intent-critical,
.banner--intent-success,
.banner--intent-info {
  & .banner__icon,
  & .banner__content,
  & .banner__action-button,
  & .banner__dismiss-button {
    color: var(--s-text-on-status);
  }
}

.banner--intent-default {
  background-color: var(--s-surface-neutral-default);
}

.banner--intent-critical {
  background-color: var(--s-surface-critical-default);
}

.banner--intent-success {
  background-color: var(--s-surface-success-default);
}

.banner--intent-info {
  background-color: var(--s-surface-info-default);
}

.banner--intent-warning {
  background-color: var(--s-surface-warning-default);

  & .banner__icon {
    color: var(--s-icon-strong);
  }

  & .banner__content,
  & .banner__action-button,
  & .banner__dismiss-button {
    color: var(--s-text-default);
  }
}

.banner__content {
  display: flex;
  align-items: flex-start;

  min-height: 1.5rem;
  flex-grow: 1;
  line-height: var(--s-line-height-base);

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
    min-height: 1.25rem;
  }
}

.banner__icon {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: var(--s-space-8);
  flex-shrink: 0;
  color: var(--s-icon-on-status);

  @media (--from-mobile) {
    display: inline-flex;
  }

  @media (--from-desktop-without-touch) {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.banner__text {
  min-height: 1.5rem;

  @media (--from-desktop-without-touch) {
    min-height: 1.25rem;
  }
}

.banner__controls {
  display: inline-flex;
  flex-shrink: 0;
  align-items: flex-start;
  line-height: var(--s-line-height-base);
  gap: var(--s-space-16);

  @media (--from-tablet) {
    gap: var(--s-space-24);
  }
}

.banner__action-button,
.banner__dismiss-button {
  display: inline-flex;
  overflow: hidden;
  max-width: 7rem;
  height: 1.5rem;
  padding: 0;
  flex-shrink: 0;
  align-items: center;
  border: none;
  background-color: transparent;
  font: inherit;
  font-weight: var(--s-font-weight-semibold);
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  &:focus {
    outline-color: var(--s-focus-default);
  }

  @media (--from-tablet) {
    max-width: 12rem;
  }

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
    height: 1.25rem;
  }
}
