@import "../../styles/media-queries.css";

:host {
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.pagination {
  display: block;
  width: 100%;
}

.pagination--variant-simple {
  & .pagination__list {
    gap: 0;
  }
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  line-height: var(--s-line-height-base);
  list-style: none;

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}

.pagination__page-label {
  padding-right: var(--s-space-8);
  padding-left: var(--s-space-8);
}

.pagination__advanced-label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: var(--s-space-8);
}

.pagination__page-select-container {
  position: relative;
}

.pagination__page-select {
  display: inline-flex;
  padding-top: var(--s-space-8);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-8);
  padding-left: var(--s-space-16);
  border: none;
  border-radius: var(--s-border-radius-sm);
  background-color: transparent;
  font: inherit;
  line-height: var(--s-line-height-base);
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 var(--s-border-width-default) var(--s-border-strong);
  appearance: none;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
  }

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}
