:host {
  --flip-ghost-button-background-default: var(--s-surface-overlay-default);
  --flip-ghost-button-background-hovered: var(--s-surface-overlay-hovered);
  --flip-ghost-button-background-pressed: var(--s-surface-overlay-pressed);

  display: block;

  & * {
    box-sizing: border-box;
  }
}

.dialog {
  position: fixed;
  z-index: var(--s-z-40);
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;

  &[aria-hidden="true"] {
    display: none;
  }
}

.dialog__backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  animation: 0.15s dialog-backdrop-fade-in;
  inset: 0;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.dialog__body {
  z-index: var(--s-z-40);
  overflow-x: hidden;
  overflow-y: auto;
  width: 18.5rem;
  max-height: 90vh;
  padding-top: var(--s-space-24);
  padding-right: var(--s-space-8);
  padding-bottom: var(--s-space-8);
  padding-left: var(--s-space-8);
  border-radius: var(--s-border-radius-xl);
  background-color: var(--s-surface-overlay-default);
  text-align: center;
  animation: 0.15s dialog-scale-in;
  box-shadow: 0.125rem 0.25rem 1rem rgba(0, 0, 0, 0.14);

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.dialog__heading {
  margin: 0;
  margin-bottom: var(--s-space-8);
  font-size: var(--s-font-size-lg);
  font-weight: var(--s-font-weight-semibold);
  line-height: var(--s-line-height-lg);
}

.dialog__content {
  margin-bottom: var(--s-space-24);
  line-height: var(--s-line-height-base);

  & ::slotted(*) {
    margin: 0;
  }
}

@keyframes dialog-scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes dialog-backdrop-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
