:host {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--s-space-8);

  & * {
    box-sizing: border-box;
  }

  &(.separator--orientation-vertical) {
    display: inline-flex;
    width: auto;
    flex-direction: column;

    & .separator__line {
      width: var(--s-border-width-default);
      height: 100%;
      min-height: 1.125rem;
    }
  }

  &(.separator--color-critical) {
    & .separator__line {
      background-color: var(--s-border-critical);
    }

    & .separator__label {
      color: var(--s-text-subdued);
    }
  }

  &(.separator--color-strong) {
    & .separator__line {
      background-color: var(--s-border-strong);
    }

    & .separator__label {
      color: var(--s-text-subdued);
    }
  }

  &(.separator--color-highlight) {
    & .separator__line {
      background-color: var(--s-border-highlight);
    }

    & .separator__label {
      color: var(--s-text-highlight);
    }
  }
}

.separator__line {
  display: block;
  width: 100%;
  height: var(--s-border-width-default);
  background-color: var(--s-border-default);
}

.separator__label {
  flex-shrink: 0;
  width: fit-content;
  font-size: var(--s-font-size-sm);
  color: var(--s-text-disabled);
}
