:host {
  display: flex;
  width: 100%;
  align-items: center;

  & * {
    box-sizing: border-box;
  }
}

.separator__line {
  display: block;
  width: 100%;
  height: var(--s-border-width-default);
  background-color: var(--s-border-default);
}
