:host {
  position: relative;
  display: inline-flex;
  max-width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.chip {
  display: inline-flex;
  overflow: hidden;
  max-width: 100%;
  height: 2rem;
  padding: 0;
  border: 0.0625rem solid var(--s-border-default);
  border-radius: 1.25rem;
  color: var(--s-text-subdued);
  background: var(--s-surface-raised-50-default);
  backdrop-filter: blur(var(--s-blur-s));
  font: inherit;
  font-size: var(--s-font-size-sm);
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-sm);
  flex-direction: column;
}

.chip--interactive {
  cursor: pointer;

  &:disabled {
    cursor: default;
    color: var(--s-text-disabled);

    & .chip__icon {
      color: var(--s-icon-disabled);
    }
  }

  &:hover:not(:disabled) {
    background: var(--s-surface-raised-50-hovered);

    & ::part(avatar) {
      background-color: var(--s-surface-raised-hovered);
    }
  }

  &:active:not(:disabled) {
    background: var(--s-surface-raised-50-pressed);

    & ::part(avatar) {
      background-color: var(--s-surface-raised-pressed);
    }
  }
}

.chip--icon-color-highlight {
  & .chip__icon {
    color: var(--s-icon-highlight);
  }
}

.chip--removable {
  & .chip__inner {
    padding-right: calc(1.5rem + var(--s-space-8));
  }
}

.chip--intent-critical {
  &:not(:disabled) {
    border-color: var(--s-border-critical);
    color: var(--s-text-critical);

    & .chip__icon,
    & + .chip__remove-button {
      color: var(--s-icon-critical);
    }
  }
}

.chip--intent-highlight {
  &:not(:disabled) {
    border-color: var(--s-border-highlight);
    color: var(--s-text-highlight);

    & .chip__icon,
    & + .chip__remove-button {
      color: var(--s-icon-highlight);
    }
  }
}

.chip--pressed {
  color: var(--s-text-on-action-primary);
  background-color: var(--s-action-primary-default);
  border-color: var(--s-action-primary-default);

  &:disabled {
    background-color: var(--s-action-primary-disabled);
    color: var(--s-text-disabled);
    border-color: var(--s-action-primary-disabled);

    & + .chip__remove-button {
      background-color: transparent;
    }
  }

  & .chip__icon {
    color: var(--s-text-on-action-primary);
  }

  &:hover:not(:disabled) {
    background-color: var(--s-action-primary-hovered);
    border-color: var(--s-action-primary-hovered);

    & + .chip__remove-button {
      background-color: var(--s-action-primary-hovered);
    }
  }

  &:active:not(:disabled) {
    background-color: var(--s-action-primary-pressed);
    border-color: var(--s-action-primary-pressed);

    & + .chip__remove-button {
      background-color: var(--s-action-primary-pressed);
    }
  }

  & + .chip__remove-button {
    color: var(--s-text-on-action-primary);
    background-color: var(--s-action-primary-default);

    &:hover:not(:disabled) {
      background-color: var(--s-action-primary-hovered);
    }

    &:active:not(:disabled) {
      background-color: var(--s-action-primary-pressed);
    }
  }
}

.chip__inner {
  display: inline-flex;
  max-width: 100%;
  height: 100%;
  padding-right: var(--s-space-12);
  padding-left: var(--s-space-12);
  align-items: center;
}

.chip__avatar,
.chip__icon {
  display: inline-flex;
  margin-right: var(--s-space-4);
  flex-shrink: 0;
  align-items: center;
}

.chip__avatar {
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -0.5rem;
}

.chip__icon {
  margin-left: -0.375rem;
  color: var(--s-icon-default);
}

.chip__trailing-icon,
.chip__trailing-content {
  display: inline-flex;
  flex-shrink: 0;
  margin-left: var(--s-space-8);
}

.chip__label {
  overflow: hidden;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chip__remove-button {
  position: absolute;
  top: var(--s-space-4);
  right: var(--s-space-4);
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: var(--s-icon-default);
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: default;

    & > *::part(icon) {
      color: var(--s-icon-disabled);
    }
  }

  &:hover:not(:disabled) {
    background-color: var(--s-state-hovered);
  }

  &:active:not(:disabled) {
    background-color: var(--s-state-pressed);
  }
}
