:host {
  position: relative;
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.table__container {
  position: relative;
  overflow: auto;
  width: 100%;
}

.table__container--scrolled {
  --flip-table-sticky-right-shadow: 0.0625rem 0 0 0 var(--s-border-default),
    -0.0625rem 0 0 0 var(--s-border-default),
    0 0.25rem 1rem rgba(25, 26, 28, 0.04),
    0 0.0625rem 0.25rem rgba(25, 26, 28, 0.16);
}

.table__container--scrollable:not(.table__container--scrolled-to-end) {
  --flip-table-sticky-left-shadow: 0.0625rem 0 0 0 var(--s-border-default),
    -0.0625rem 0 0 0 var(--s-border-default),
    0 0.25rem 1rem rgba(25, 26, 28, 0.04),
    0 0.0625rem 0.25rem rgba(25, 26, 28, 0.16);
}

.table__table {
  width: max-content;
  min-width: max(20rem, 100%);
}

.table__header {
  & ::slotted(*) {
    display: flex;
  }
}
