@import "../../styles/media-queries.css";

:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.date-picker {
  padding: var(--s-space-8) var(--s-space-16);
  background-color: var(--s-surface-overlay-default);
  font-size: var(--s-font-size-sm);
  line-height: var(--s-line-height-sm);
  letter-spacing: var(--s-letter-spacing-tighter);

  @media (--from-tablet) {
    max-width: 17.5rem;
  }
}

.air-datepicker--pointer {
  display: none;
}

.air-datepicker-nav {
  display: flex;
  margin-bottom: var(--s-space-8);
  align-items: center;
  gap: var(--s-space-4);
}

.air-datepicker-nav--action {
  position: relative;
  display: inline-flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--s-icon-highlight);
  cursor: pointer;
  order: 2;

  &:hover {
    background-color: var(--s-surface-overlay-hovered);
  }
}

.air-datepicker-nav--title {
  padding: var(--s-space-8);
  flex-grow: 1;
  border-radius: var(--s-border-radius-s);
  font-size: var(--s-font-size-base);
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-base);
  text-align: left;
  cursor: pointer;
  order: 0;

  & i {
    font-style: normal;
  }
}

.air-datepicker-body--day-names {
  display: flex;
  margin-bottom: var(--s-space-8);
  justify-content: space-between;
  align-items: center;
}

.air-datepicker-body--day-name {
  display: inline-flex;
  flex-basis: calc(100 / 7 * 1%);
  justify-content: center;
  align-items: center;
  color: var(--s-text-subdued);
  aspect-ratio: 1;
}

.air-datepicker-body--cells {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &.-months- {
    gap: var(--s-space-2);
  }
}

.air-datepicker-cell {
  position: relative;
  display: inline-flex;
  flex-basis: calc(100 / 7 * 1%);
  justify-content: center;
  align-items: center;
  font-weight: var(--s-font-weight-medium);
  cursor: pointer;
  aspect-ratio: 1;

  &:not(.-month-):not(.-year-):not(.-in-range-):hover {
    &:before {
      position: absolute;
      z-index: -1;
      border-radius: 50%;
      background-color: var(--s-surface-overlay-hovered);
      content: "";
      inset: 0;
    }
  }

  &.-month-,
  &.-year- {
    height: 2.5rem;
    flex-basis: calc(100 / 3 * 1% - var(--s-space-2) * 2);
    border-radius: var(--s-border-radius-s);
    aspect-ratio: auto;

    &.-in-range- {
      &:before {
        border-radius: var(--s-border-radius-s);
      }
    }

    &:hover:not(.-in-range-):not(.-selected-) {
      background-color: var(--s-surface-overlay-hovered);
    }
  }

  &.-other-month- {
    color: var(--s-text-subdued);
  }

  &.-current-:not(.-month-):not(.-year-) {
    &:after {
      position: absolute;
      z-index: -1;
      border: var(--s-border-width-default) solid var(--s-border-highlight);
      border-radius: 50%;
      content: "";
      inset: 0;
    }
  }

  &.-selected- {
    color: var(--s-text-on-surface-highlight);

    &.-year-,
    &.-month- {
      background-color: var(--s-surface-highlight-default);
    }

    &:not(.-month-):not(.-year-):not(.-in-range-) {
      &:before {
        position: absolute;
        z-index: -1;
        border-radius: 50%;
        background-color: var(--s-surface-highlight-default);
        content: "";
        inset: 0;
      }
    }
  }

  &.-disabled- {
    color: var(--s-text-subdued);
    cursor: default;

    &:hover {
      background-color: transparent;
    }
  }

  &.-in-range- {
    &:before {
      position: absolute;
      z-index: -1;
      top: 0.0625rem;
      right: 0;
      bottom: 0.0625rem;
      left: 0;
      border-radius: 0;
      background-color: var(--s-surface-highlight-default);
      content: "";
      opacity: 0.2;
    }
  }

  &.-range-from-:not(.-month-):not(.-year-):not(.-range-to-) {
    &:hover {
      color: var(--s-text-on-surface-highlight);
    }

    &:before {
      position: absolute;
      z-index: -1;
      border-radius: 50%;
      background-color: var(--s-surface-highlight-default);
      content: "";
      inset: 0;
    }

    &:after {
      position: absolute;
      z-index: -1;
      top: 0.0625rem;
      right: 0;
      bottom: 0.0625rem;
      left: 50%;
      border-radius: 0;
      background-color: var(--s-surface-highlight-default);
      content: "";
      opacity: 0.2;
    }
  }

  &.-range-to-:not(.-month-):not(.-year-):not(.-range-from-) {
    &:hover {
      color: var(--s-text-on-surface-highlight);
    }

    &:before {
      position: absolute;
      z-index: -1;
      border-radius: 50%;
      background-color: var(--s-surface-highlight-default);
      content: "";
      inset: 0;
    }

    &:after {
      position: absolute;
      z-index: -1;
      top: 0.0625rem;
      right: 50%;
      bottom: 0.0625rem;
      left: 0;
      border-radius: 0;
      background-color: var(--s-surface-highlight-default);
      content: "";
      opacity: 0.2;
    }
  }
}

.-hidden- {
  display: none;
}
