:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.tree-view {
  display: flex;
  margin: 0;
  /*
  * 4px bottom padding is important to provide a drop area for items at the
  * end of the tree
  */
  padding: 0 0 var(--s-space-4);
  flex-direction: column;
  gap: var(--s-space-2);
}

.tree-view--dragging {
  & .tree-view-item__link:hover,
  & .tree-view-item__link:active {
    background-color: var(--s-background-default) !important;
  }
}
