@import "../../styles/media-queries.css";

:host {
  --flip-ghost-button-background-default: var(--s-surface-overlay-default);
  --flip-ghost-button-background-hovered: var(--s-surface-overlay-hovered);
  --flip-ghost-button-background-pressed: var(--s-surface-overlay-pressed);

  display: block;

  & * {
    box-sizing: border-box;
  }
}

.modal {
  position: fixed;
  z-index: var(--s-z-40);
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;

  &[aria-hidden="true"] {
    display: none;
  }
}

.modal:not(.modal--closing) {
  & .modal__backdrop {
    animation: 0.15s modal-backdrop-fade-in;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }

  & .modal__body {
    animation: 0.15s modal-scale-in;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }
}

.modal--closing {
  animation: 0.15s modal-fade-out;
  animation-fill-mode: forwards;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.modal--scrollable {
  & .modal__content {
    @media (--from-tablet) {
      padding-bottom: 0;
    }
  }

  &:not(.modal--scrolled-down) {
    & .modal__controls {
      border-top: var(--s-border-width-default) solid var(--s-border-default);
    }
  }
}

.modal--scrolled {
  @media (--from-tablet) {
    & .modal__header {
      border-bottom: var(--s-border-width-default) solid var(--s-border-default);
    }
  }
}

.modal__backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
}

.modal__body {
  position: relative;
  z-index: var(--s-z-40);
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--s-surface-overlay-default);
  flex-direction: column;

  @media (--from-tablet) {
    width: 90vw;
    max-width: 33.75rem;
    height: auto;
    max-height: 90vh;
    border-radius: var(--s-border-radius-base);
    box-shadow: var(--s-shadow-level-3);
  }
}

.modal__close-button {
  position: absolute;
  top: var(--s-space-8);
  left: var(--s-space-8);

  @media (--from-tablet) {
    top: var(--s-space-16);
    right: var(--s-space-16);
    left: auto;
  }
}

.modal__header {
  display: flex;
  height: 3.5rem;
  padding-top: var(--s-space-8);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-8);
  padding-left: calc(var(--s-space-8) + 2.5rem + var(--s-space-8));
  flex-shrink: 0;
  align-items: center;
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);
  gap: var(--s-space-16);

  @media (--from-tablet) {
    height: 4.125rem;
    padding-top: var(--s-space-24);
    padding-right: calc(var(--s-space-16) + 2.5rem + var(--s-space-8));
    padding-bottom: var(--s-space-16);
    padding-left: var(--s-space-24);
    border-bottom: none;
  }
}

.modal__heading {
  overflow: hidden;

  & .heading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.modal__content {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: var(--s-space-24);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-24);
  padding-left: var(--s-space-16);
  flex-grow: 1;
  line-height: var(--s-line-height-base);

  & ::slotted(*) {
    margin: 0;
  }

  @media (--from-tablet) {
    padding-top: 0;
    padding-right: var(--s-space-24);
    padding-bottom: var(--s-space-16);
    padding-left: var(--s-space-24);
  }
}

.modal__controls {
  display: flex;
  padding-top: var(--s-space-16);
  padding-right: var(--s-space-24);
  padding-bottom: var(--s-space-16);
  padding-left: var(--s-space-24);
  flex-shrink: 0;
  justify-content: flex-end;
}

@keyframes modal-scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes modal-backdrop-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
