@import "../../styles/media-queries.css";

:host {
  --swirl-shell-background: rgba(20, 90, 245, 1);
  --swirl-shell-text-color: rgba(255, 255, 255, 1);

  --swirl-shell-header-height: 3.25rem;

  --swirl-shell-collapsed-nav-width: 3.75rem;
  --swirl-shell-extended-nav-width: 14rem;
  --swirl-shell-sidebar-width: 21rem;

  display: flex;
  width: 100%;
  height: 100%;

  & * {
    box-sizing: border-box;
  }
}

.shell-layout {
  display: grid;
  width: 100%;
  min-height: 100%;
  background-color: var(--swirl-shell-background);
  transition: grid-template-columns 0.2s;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: 1fr;
  grid-template-areas: "nav main sidebar";

  @media (--from-desktop) {
    padding-right: var(--s-space-8);
    padding-bottom: var(--s-space-8);
    gap: var(--s-space-8);
    grid-template-columns: var(--swirl-shell-extended-nav-width) 1fr 0;
    grid-template-rows: var(--swirl-shell-header-height) 1fr;
    grid-template-areas:
      "header header header"
      "nav main sidebar";
  }
}

.shell-layout--navigation-collapsed {
  @media (--from-desktop) {
    grid-template-columns: var(--swirl-shell-collapsed-nav-width) 1fr 0;
  }
}

.shell-layout--sidebar-active {
  &.shell-layout--navigation-collapsed {
    @media (--from-desktop) {
      grid-template-columns: var(--swirl-shell-collapsed-nav-width) 1fr var(
          --swirl-shell-sidebar-width
        );
    }
  }
  @media (--from-desktop) {
    grid-template-columns: var(--swirl-shell-extended-nav-width) 1fr var(
        --swirl-shell-sidebar-width
      );
  }
}

.shell-layout--mobile-navigation-active {
  & .shell-layout__nav {
    transform: translate3d(0, 0, 0);
    box-shadow: var(--s-shadow-level-3);

    @media (--from-desktop) {
      transform: none;
      box-shadow: none;
    }
  }

  & .shell-layout__mobile-nav-backdrop {
    display: block;

    @media (--from-desktop) {
      display: none;
    }
  }
}

.shell-layout__header {
  position: relative;
  display: none;
  padding-top: var(--s-space-8);
  padding-right: var(--s-space-8);
  padding-bottom: 0;
  padding-left: var(--s-space-16);
  justify-content: space-between;
  align-items: center;
  color: var(--swirl-shell-text-color);
  grid-area: header;

  @media (--from-desktop) {
    display: flex;
  }
}

.shell-layout__skip-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--s-space-4);
  color: var(--swirl-shell-text-color);
  background-color: var(--swirl-shell-background);

  &:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }
}

.shell-layout__header-left {
  display: flex;
  flex-basis: 8rem;
  flex-shrink: 0;
  gap: var(--s-space-8);
}

.shell-layout__header-right {
  display: flex;
  flex-basis: 8rem;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--s-space-8);
}

.shell-layout__logo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  &::slotted(img) {
    max-height: 1.75rem;
  }
}

.shell-layout__header-tool {
  width: 2.25rem;
  height: 2.25rem;
  padding: var(--s-space-8);
  border: none;
  border-radius: var(--s-border-radius-sm);
  color: var(--swirl-shell-text-color);
  background-color: transparent;
  font: inherit;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 0.125rem var(--s-focus-default);
  }
}

.shell-layout__nav {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  max-width: var(--swirl-shell-extended-nav-width);
  padding: var(--s-space-8);
  color: var(--swirl-shell-text-color);
  background-color: var(--swirl-shell-background);
  transition: transform 0.2s, box-shadow 0.2s;
  transform: translate3d(-100%, 0, 0);
  grid-area: nav;

  &::slotted(* ul) {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &::slotted(* li) {
    display: flex;
  }

  @media (--from-desktop) {
    position: static;
    max-width: none;
    padding-top: var(--s-space-8);
    padding-right: var(--s-space-4);
    padding-bottom: var(--s-space-8);
    padding-left: var(--s-space-12);
    transform: none;
    inset: auto;
  }
}

.shell-layout__mobile-logo {
  padding-top: var(--s-space-12);
  padding-bottom: var(--s-space-12);
  padding-left: var(--s-space-12);

  &::slotted(img) {
    max-height: 1.75rem;
  }
}

.shell-layout__mobile-nav-backdrop {
  position: fixed;
  z-index: 8;
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
  animation: shell-layout-backdrop-fade-in 0.2s;
  inset: 0;
}

.shell-layout__main {
  overflow: hidden;
  grid-area: main;

  @media (--from-desktop) {
    border-radius: var(--s-border-radius-sm);
  }
}

.shell-layout__sidebar {
  overflow: hidden;
  background-color: var(--s-background-default);
  grid-area: sidebar;

  @media (--from-desktop) {
    border-radius: var(--s-border-radius-sm);
  }
}

.shell-layout__sidebar-body {
  display: flex;
  width: var(--swirl-shell-sidebar-width);
  flex-direction: column;
}

.shell-layout__sidebar-app-bar {
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);
}

.shell-layout__sidebar-content {
  overflow: auto;
  flex-grow: 1;
}

@keyframes shell-layout-backdrop-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
