@import "../../styles/media-queries.css";

:host {
  --swirl-shell-background: var(--s-surface-sunken-default);
  --swirl-shell-text-color: var(--s-text-default);

  --swirl-shell-header-height: 3.25rem;

  --swirl-shell-collapsed-nav-width: 4rem;
  --swirl-shell-extended-nav-width: 18rem;
  --swirl-shell-sidebar-width: 21rem;

  display: flex;
  width: 100%;
  height: 100%;

  & * {
    box-sizing: border-box;
  }
}

.shell-layout {
  display: grid;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  background-color: var(--swirl-shell-background);
  transition: grid-template-columns 0.1s;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: 1fr;
  grid-template-areas: "nav main";

  @media (prefers-reduced-motion) {
    transition: none;
  }

  @media (--from-desktop) {
    padding-right: var(--s-space-8);
    padding-bottom: var(--s-space-8);
    column-gap: var(--s-space-8);
    grid-template-columns: var(--swirl-shell-extended-nav-width) 1fr 0;
    grid-template-rows: var(--swirl-shell-header-height) 1fr;
    grid-template-areas:
      "header header header"
      "nav main sidebar";
  }
}

.shell-layout--branded-header {
  & .shell-layout__header {
    border-bottom: none;
    color: var(--s-text-on-action-primary);
    background-color: var(--s-action-primary-default);

    & .shell-layout__header-tool {
      color: var(--s-text-on-action-primary);
      background-color: var(--s-action-primary-default);

      &:hover {
        background-color: var(--s-action-primary-hovered);
      }

      &:active {
        background-color: var(--s-action-primary-pressed);
      }

      & swirl-badge {
        --swirl-badge-border-color: var(--s-action-primary-default);
      }
    }
  }
}

.shell-layout--navigation-collapsed {
  & .shell-layout__nav {
    @media (--from-desktop) {
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
        background: transparent;
        -webkit-appearance: none;
      }
    }
  }

  & .shell-layout__secondary-nav-items--grid-view {
    & ::slotted(ul > *) {
      max-width: 100%;
      max-height: 3rem;
      flex-basis: 100%;
    }
  }

  @media (--from-desktop) {
    grid-template-columns: var(--swirl-shell-collapsed-nav-width) 1fr 0;
  }
}

.shell-layout--sidebar-active {
  &.shell-layout--navigation-collapsed {
    @media (--from-large-desktop) {
      grid-template-columns: var(--swirl-shell-collapsed-nav-width) 1fr var(
          --swirl-shell-sidebar-width
        );
    }
  }

  & .shell-layout__main {
    @media (--from-large-desktop) {
      width: 100%;
    }
  }

  & .shell-layout__sidebar {
    overflow: initial;
  }

  & .shell-layout__sidebar-body {
    @media (--from-desktop) {
      border: 0.0625rem solid var(--s-border-default);
      transform: translate3d(0, 0, 0);
    }
  }

  @media (--from-large-desktop) {
    grid-template-columns: var(--swirl-shell-extended-nav-width) 1fr var(
        --swirl-shell-sidebar-width
      );
  }
}

:not(.shell-layout--sidebar-active) {
  & .shell-layout__sidebar {
    animation: shell-layout-no-overflow-after-transition 0.1s;
    animation-fill-mode: forwards;
  }
}

.shell-layout--sidebar-scrollable {
  &:not(.shell-layout--sidebar-scrolled-to-top) {
    & .shell-layout__sidebar-app-bar {
      border-bottom-color: var(--s-border-default);
    }
  }
}

.shell-layout--mobile-navigation-active {
  & .shell-layout__nav {
    transform: translate3d(0, 0, 0);
    box-shadow: var(--s-shadow-level-3);

    @media (--from-desktop) {
      transform: none;
      box-shadow: none;
    }
  }

  & .shell-layout__mobile-nav-backdrop {
    display: block;

    @media (--from-desktop) {
      display: none;
    }
  }
}

.shell-layout--has-secondary-nav {
  & .shell-layout__secondary-nav {
    display: block;
  }
}

.shell-layout--secondary-nav-collapsed {
  & .shell-layout__secondary-nav-items {
    display: none;
  }
}

.shell-layout__header {
  position: relative;
  display: none;
  width: calc(100% + var(--s-space-8));
  padding-top: var(--s-space-8);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-8);
  padding-left: var(--s-space-16);
  justify-content: space-between;
  align-items: center;
  color: var(--swirl-shell-text-color);
  grid-area: header;

  @media (--from-desktop) {
    display: flex;
  }
}

.shell-layout__skip-link {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  padding: var(--s-space-4);
  border: none;
  color: var(--swirl-shell-text-color);
  background-color: var(--swirl-shell-background);
  font: inherit;
  cursor: pointer;

  &:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }
}

.shell-layout__header-left {
  display: flex;
  padding-left: var(--s-space-2);
  flex-basis: 8rem;
  flex-shrink: 0;
  align-items: center;
  gap: var(--s-space-8);
}

.shell-layout__header-right {
  --swirl-ghost-button-background-default: var(--s-surface-sunken-default);
  --swirl-ghost-button-background-hovered: var(--s-surface-sunken-hovered);
  --swirl-ghost-button-background-pressed: var(--s-surface-sunken-pressed);

  display: flex;
  flex-basis: 8rem;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  gap: var(--s-space-8);
}

.shell-layout__logo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  &::slotted(a) {
    display: flex;
  }

  &::slotted(a img),
  &::slotted(img) {
    max-height: 1.75rem;
  }
}

.shell-layout__header-tool {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  padding: var(--s-space-8);
  flex-shrink: 0;
  border: none;
  border-radius: var(--s-border-radius-sm);
  color: var(--swirl-shell-text-color);
  background-color: var(--s-surface-sunken-default);
  font: inherit;
  cursor: pointer;

  &:hover {
    background-color: var(--s-surface-sunken-hovered);
  }

  &:active {
    background-color: var(--s-surface-sunken-pressed);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 0.125rem var(--s-focus-default);
  }

  & swirl-badge {
    --swirl-badge-border-color: var(--s-surface-sunken-default);

    position: absolute;
    top: var(--s-space-2);
    right: var(--s-space-2);
    padding-right: var(--s-space-2);
    transform: translate3d(0.1875rem, 0, 0);
  }
}

.shell-layout__sidebar-toggle {
  display: none;

  @media (--from-desktop) {
    display: block;
  }
}

.shell-layout__nav {
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 18.75rem;
  color: var(--swirl-shell-text-color);
  background-color: var(--s-surface-overlay-default);
  transition: transform 0.1s, box-shadow 0.1s, width 0.1s;
  transform: translate3d(-100%, 0, 0);
  grid-area: nav;

  @media (prefers-reduced-motion) {
    transition: none;
  }

  @media (--from-desktop) {
    position: relative;
    max-width: none;
    padding-top: 0;
    padding-right: var(--s-space-4);
    padding-bottom: var(--s-space-8);
    padding-left: var(--s-space-12);
    background-color: var(--swirl-shell-background);
    transform: none;
    box-shadow: none;
    inset: auto;
  }
}

.shell-layout__mobile-header {
  display: flex;
  min-height: 3.5rem;
  margin-bottom: var(--s-space-8);
  padding-top: var(--s-space-8);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-8);
  padding-left: var(--s-space-16);
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid var(--s-border-default);

  &::slotted(img) {
    max-height: 1.75rem;
  }

  & .shell-layout__header-tool {
    background-color: var(--s-surface-overlay-default);

    &:hover {
      background-color: var(--s-surface-overlay-hovered);
    }

    &:active {
      background-color: var(--s-surface-overlay-pressed);
    }
  }

  @media (--from-desktop) {
    display: none;
  }
}

.shell-layout__mobile-header-tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--s-space-8);
}

.shell-layout__nav-body {
  padding: var(--s-space-8);

  &::slotted(* ul) {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &::slotted(* li) {
    display: flex;
  }

  @media (--from-desktop) {
    padding: 0;
  }
}

.shell-layout__mobile-nav-backdrop {
  position: fixed;
  z-index: 8;
  display: none;
  background-color: rgba(0, 0, 0, 0.25);
  animation: shell-layout-backdrop-fade-in 0.1s;
  inset: 0;
}

.shell-layout__secondary-nav {
  display: none;
}

.shell-layout__secondary-nav-items {
  & ::slotted(ul) {
    display: flex;
    flex-direction: column;
    gap: var(--s-space-8);
  }
}

.shell-layout__secondary-nav-items--grid-view {
  & ::slotted(ul) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--s-space-16);
  }

  & ::slotted(ul > *) {
    min-width: 0;
    max-height: none;
  }
}

.shell-layout__secondary-nav-items--tiled {
  & ::slotted(ul > *) {
    flex-basis: calc(50% - var(--s-space-8));
  }
}

.shell-layout__secondary-nav-items--app-icon {
  & ::slotted(ul > *) {
    flex-basis: calc(32% - var(--s-space-8));
  }
}

.shell-layout__main {
  overflow: hidden;
  background-color: var(--s-background-default);
  grid-area: main;

  @media (--from-desktop) {
    width: calc(100% + var(--s-space-8));
    border: 0.0625rem solid var(--s-border-default);
    border-radius: var(--s-border-radius-sm);
  }
}

.shell-layout__sidebar {
  position: relative;
  display: none;
  min-height: 0;
  grid-area: sidebar;

  @media (--from-desktop) {
    display: block;
  }
}

.shell-layout__sidebar-body {
  z-index: 1;
  display: flex;
  width: var(--swirl-shell-sidebar-width);
  height: 100%;
  border-radius: var(--s-border-radius-sm);
  background-color: var(--s-background-default);
  flex-direction: column;

  @media (--from-desktop) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.1s;
    transform: translate3d(calc(100% + var(--s-space-24)), 0, 0);
    box-shadow: var(--s-shadow-level-3);
  }

  @media (--from-large-desktop) {
    position: relative;
    transform: none;
    box-shadow: none;
    inset: auto;
  }

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.shell-layout__sidebar-app-bar {
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: var(--s-border-width-default) solid transparent;
}

.shell-layout__sidebar-content {
  overflow: auto;
  flex-grow: 1;
}

@keyframes shell-layout-backdrop-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shell-layout-no-overflow-after-transition {
  0% {
    overflow: initial;
  }
  99% {
    overflow: initial;
  }
  100% {
    overflow: hidden;
  }
}
