@import "../../styles/media-queries.css";

:host {
  display: flex;
  width: 100%;
  height: 100%;

  & * {
    box-sizing: border-box;
  }
}

.shell-layout {
  display: flex;
  width: 100%;
  min-height: 100%;
  background-color: var(--s-border-default);
  gap: var(--s-border-width-default);
}

.shell-layout--collapsed-sidebar {
  & .shell-layout__sidebar {
    min-height: 100%;
    transform: translate3d(-100%, 0, 0);
    box-shadow: none;

    @media (--from-desktop) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      max-width: 4rem;
      flex-basis: 4rem;
      transform: none;

      &:hover,
      &:focus-within {
        width: 100%;
        max-width: 17.5rem;
        flex-basis: 17.5rem;
        box-shadow: 0 0.75rem 2rem rgba(25, 26, 28, 0.12),
          0 0.25rem 0.75rem rgba(25, 26, 28, 0.08);

        & .shell-layout__collapsed-logo {
          display: none;
        }

        & .shell-layout__expanded-logo {
          display: block;
        }
      }

      &:not(:hover):not(:focus-within) {
        box-shadow: none;

        & .shell-layout__collapsed-logo {
          display: block;
        }

        & .shell-layout__expanded-logo {
          display: none;
        }

        & .shell-layout__toggle {
          display: none;
        }
      }
    }
  }

  & .shell-layout__main {
    @media (--from-desktop) {
      margin-left: calc(4rem + var(--s-border-width-default));
    }
  }
}

.shell-layout__sidebar {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  max-width: 17.5rem;
  flex-basis: 17.5rem;
  flex-shrink: 0;
  background-color: var(--s-border-default);
  flex-direction: column;
  transition: max-width 0.2s, box-shadow 0.2s, transform 0.2s;
  box-shadow: 0 0.75rem 2rem rgba(25, 26, 28, 0.12),
    0 0.25rem 0.75rem rgba(25, 26, 28, 0.08);
  gap: var(--s-border-width-default);

  @media (--from-desktop) {
    position: relative;
    box-shadow: none;
    inset: auto;
  }
}

.shell-layout__header {
  padding: var(--s-space-8);
  flex-shrink: 0;
  background-color: var(--s-background-default);
}

.shell-layout__logo-bar {
  display: flex;
  overflow: hidden;
  align-items: center;
}

.shell-layout__expanded-logo {
  padding-top: var(--s-space-8);
  padding-right: calc(var(--s-space-12) + var(--s-space-2));
  padding-bottom: var(--s-space-8);
  padding-left: calc(var(--s-space-12) + var(--s-space-2));
  flex-grow: 1;
}

.shell-layout__collapsed-logo {
  display: none;
  padding-top: var(--s-space-8);
  padding-right: calc(var(--s-space-12) + var(--s-space-2));
  padding-bottom: var(--s-space-8);
  padding-left: calc(var(--s-space-12) + var(--s-space-2));
  flex-grow: 1;
}

.shell-layout__toggle {
  padding-right: var(--s-space-8);
  padding-left: var(--s-space-12);
  flex-grow: 0;
  flex-shrink: 0;
}

.shell-layout__mobile-toggle {
  position: absolute;
  z-index: 2;
  top: var(--s-space-12);
  left: calc(100% + var(--s-space-16));

  @media (--from-desktop) {
    display: none;
  }
}

.shell-layout__tools {
  margin-top: var(--s-space-4);
  flex-basis: 100%;
  flex-shrink: 0;
}

.shell-layout__main-navigation {
  overflow: auto;
  padding: var(--s-space-8);
  flex-grow: 1;
  background-color: var(--s-background-default);
}

.shell-layout__main {
  flex-grow: 1;
  background-color: var(--s-background-default);

  & > *,
  & ::slotted(*) {
    height: 100%;
  }
}
