:host {
  display: inline-block;

  & * {
    box-sizing: border-box;
  }
}

.button {
  display: inline-flex;
  gap: var(--s-space-8);
  width: 100%;
  padding: 0.375rem var(--s-space-8);
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.375rem;
  color: var(--s-text-default);
  background-color: var(--s-surface-sunken-default);
  font: inherit;
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-lg);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--s-surface-sunken-hovered);
  }

  &:active {
    background-color: var(--s-surface-sunken-pressed);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
    outline-offset: var(--s-space-2);
  }

  &.button--pressed {
    background-color: var(--s-surface-default);
    color: var(--s-text-highlight);
    box-shadow: var(--s-shadow-level-1);

    .button__icon {
      color: var(--s-icon-highlight);
    }
  }

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
    gap: var(--s-space-4);
  }
}

.button__label {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button__icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--s-icon-default);

  @media (--from-desktop-without-touch) {
    width: 1.25rem;
    height: 1.25rem;
  }
}
