/* Temporary solution to disable the desktop style tweaks (mostly font and icon
   size adjustments) when using Swirl inside the current Angular web client */

html.disable-desktop-style-tweaks {
  @media (--from-desktop-without-touch) {
    & ::part(action-list-item) {
      padding: var(--s-space-12) var(--s-space-16);
      font-size: var(--s-font-size-base);
      line-height: var(--s-line-height-base);
      gap: var(--s-space-12);
    }

    & ::part(action-list-section__label) {
      padding: var(--s-space-8) var(--s-space-16);
      font-size: var(--s-font-size-base);
      line-height: var(--s-line-height-base);
    }

    & ::part(banner__content),
    & ::part(banner__action-button),
    & ::part(banner__dismiss-button),
    & ::part(description-list-item),
    & ::part(dialog__content),
    & ::part(file-viewer-csv__table),
    & ::part(file-viewer-pdf__pagination),
    & ::part(file-viewer-text__text),
    & ::part(inline-error),
    & ::part(link),
    & ::part(option-list-item__label),
    & ::part(toast__content),
    & ::part(tooltip__bubble),
    & .checkbox__label,
    & .checkbox__description,
    & .date-input__input,
    & .file-uploader__label,
    & .file-uploader__dropzone-label,
    & .swirl-list,
    & .radio__description,
    & .radio__label,
    & .select__label,
    & .tabs__tab,
    & .text--size-base,
    & .text-input__input,
    & .text-input__character-counter {
      font-size: var(--s-font-size-base);
      line-height: var(--s-line-height-base);
    }

    & .button {
      padding: var(--s-space-8) var(--s-space-16);
      font-size: var(--s-font-size-base);
      line-height: var(--s-line-height-base);
      gap: var(--s-space-8);
    }

    & .button--pill {
      border-radius: 1.25rem;
    }

    & .button--pill.button--size-l {
      border-radius: 1.5rem;
    }

    & .checkbox__control {
      width: 1.5rem;
      height: 1.5rem;
    }

    & .date-input--inline {
      & .date-input__date-picker-button {
        top: -0.0625rem !important;
      }
    }

    & .date-input__date-picker-button {
      top: calc(-1 * var(--s-space-12));
    }

    & ::part(description-list-item__term) {
      margin-bottom: var(--s-space-4);
    }

    & ::part(dialog__body) {
      border-radius: var(--s-border-radius-l);
    }

    & ::part(dialog__heading) {
      font-size: var(--s-font-size-lg);
      line-height: var(--s-line-height-lg);
    }

    & .file-uploader__description {
      margin-top: var(--s-space-4);
    }

    & .file-uploader__dropzone-label {
      margin-top: var(--s-space-16);
    }

    & .file-uploader__upload-button {
      margin-top: var(--s-space-16);
    }

    & .form-control {
      &.form-control--inline .form-control__label {
        min-height: calc(2.375rem + 2 * var(--s-border-width-default));
      }

      &:not(.form-control--has-value):not(.form-control--has-focus):not(
          .form-control--is-select
        ) {
        & .form-control__label-text {
          font-size: var(--s-font-size-base) !important;
          line-height: var(--s-line-height-base) !important;
        }
      }

      &:not(.form-control--has-value).form-control--is-select {
        & .form-control__label-text {
          font-size: var(--s-font-size-base) !important;
          line-height: var(--s-line-height-base) !important;
        }
      }
    }

    & .option-list-item {
      min-height: 3rem;
      padding: var(--s-space-12) var(--s-space-16);
      gap: var(--s-space-12);
    }

    & .option-list-item__checkbox {
      @media (--from-desktop-without-touch) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    & ::part(option-list-section__label) {
      padding: var(--s-space-8) var(--s-space-16);
      font-size: var(--s-font-size-base);
      line-height: var(--s-line-height-base);
    }

    & ::part(pagination__list) {
      font-size: var(--s-font-size-base);
      line-height: var(--s-line-height-base);
      gap: var(--s-space-16);
    }

    & .radio__control {
      width: 1.5rem;
      height: 1.5rem;
    }

    & ::part(resource-list-file-item) {
      padding: var(--s-space-12) var(--s-space-16);
      font-size: var(--s-font-size-base);
      line-height: var(--s-line-height-base);
    }

    & ::part(resource-list-item__content) {
      padding-top: var(--s-space-12);
      padding-right: 0;
      padding-bottom: var(--s-space-12);
      padding-left: var(--s-space-16);
      font-size: var(--s-font-size-base);
      line-height: var(--s-line-height-base);
    }

    & .search__input {
      font-size: var(--s-font-size-base);
      line-height: var(--s-line-height-base);
      padding-left: calc(var(--s-space-12) + 1.5rem + var(--s-space-8));
    }

    & ::part(skeleton-text--size-sm) {
      @media (--from-desktop-without-touch) {
        --skeleton-text-line-padding: calc(
          (var(--s-line-height-sm) - var(--s-font-size-sm)) / 2
        );
      }
    }

    & ::part(skeleton-text--size-base) {
      &::part(skeleton-text__line) {
        @media (--from-desktop-without-touch) {
          height: var(--s-line-height-base);
        }
      }

      @media (--from-desktop-without-touch) {
        --skeleton-text-line-padding: calc(
          (var(--s-line-height-base) - var(--s-font-size-base)) / 2
        );
      }
    }

    & ::part(skeleton-text--size-lg) {
      @media (--from-desktop-without-touch) {
        --skeleton-text-line-padding: calc(
          (var(--s-line-height-lg) - var(--s-font-size-lg)) / 2
        );
      }
    }

    & ::part(skeleton-text--size-xl) {
      @media (--from-desktop-without-touch) {
        --skeleton-text-line-padding: calc(
          (var(--s-line-height-xl) - var(--s-font-size-xl)) / 2
        );
      }
    }

    & ::part(skeleton-text--size-2xl) {
      @media (--from-desktop-without-touch) {
        --skeleton-text-line-padding: calc(
          (var(--s-line-height-2xl) - var(--s-font-size-2xl)) / 2
        );
      }
    }

    & ::part(skeleton-text__line--size-sm) {
      @media (--from-desktop-without-touch) {
        height: var(--s-line-height-sm);
      }
    }

    & ::part(skeleton-text__line--size-base) {
      @media (--from-desktop-without-touch) {
        height: var(--s-line-height-base);
      }
    }

    & ::part(skeleton-text__line--size-lg) {
      @media (--from-desktop-without-touch) {
        height: var(--s-line-height-lg);
      }
    }

    & ::part(skeleton-text__line--size-xl) {
      @media (--from-desktop-without-touch) {
        height: var(--s-line-height-xl);
      }
    }

    & ::part(skeleton-text__line--size-2xl) {
      @media (--from-desktop-without-touch) {
        height: var(--s-line-height-2xl);
      }
    }

    & .text--size-lg {
      font-size: var(--s-font-size-lg);
      line-height: var(--s-line-height-lg);
    }

    & .text--size-xl {
      font-size: var(--s-font-size-xl);
      line-height: var(--s-line-height-xl);
    }

    & .text--size-2xl {
      font-size: var(--s-font-size-2xl);
      line-height: var(--s-line-height-2xl);
    }

    & .text-input__clear-button,
    & .text-input__password-toggle {
      top: calc(-1 * var(--s-space-12));
    }

    & .text-input__stepper {
      top: -1.4375rem;
    }

    & ::part(toast__icon) {
      margin-top: calc(-1 * var(--s-space-2));
    }
  }
}
