@import "~@getflip/swirl-tokens/dist/css/styles.light.custom-properties.css";
@import "~@getflip/swirl-tokens/dist/css/styles.dark.custom-properties.css";
@import "./media-queries.css";

@font-face {
  font-family: "Inter var experimental";
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Inter.var.woff2") format("woff2-variations"),
    url("/fonts/Inter.var.woff2") format("woff2");
}

:root {
  --flip-avatar-group-border-color: var(--s-background-default);

  --flip-badge-border-color: var(--s-background-default);

  --flip-button-border-top-right-radius: var(--s-border-radius-base);
  --flip-button-border-top-left-radius: var(--s-border-radius-base);
  --flip-button-border-bottom-right-radius: var(--s-border-radius-base);
  --flip-button-border-bottom-left-radius: var(--s-border-radius-base);

  --flip-icon-button-border-top-right-radius: 50%;
  --flip-icon-button-border-top-left-radius: 50%;
  --flip-icon-button-border-bottom-right-radius: 50%;
  --flip-icon-button-border-bottom-left-radius: 50%;

  --flip-ghost-button-background-default: var(--s-background-default);
  --flip-ghost-button-background-hovered: var(--s-background-hovered);
  --flip-ghost-button-background-pressed: var(--s-background-pressed);

  @media (--from-desktop-without-touch) {
    --flip-button-border-top-right-radius: var(--s-border-radius-sm);
    --flip-button-border-top-left-radius: var(--s-border-radius-sm);
    --flip-button-border-bottom-right-radius: var(--s-border-radius-sm);
    --flip-button-border-bottom-left-radius: var(--s-border-radius-sm);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html.theme-dark {
  color-scheme: dark;
}

body {
  background-color: var(--s-background-default);
  font-family: var(--s-font-family-text);
  font-size: var(--s-font-size-base);
  font-weight: var(--s-font-weight-normal);
  color: var(--s-text-default);

  -webkit-font-smoothing: antialiased;
}
