@import "~@getflip/swirl-tokens/dist/css/styles.light.custom-properties.css";
@import "~@getflip/swirl-tokens/dist/css/styles.dark.custom-properties.css";
@import "./media-queries.css";
@import "./disable-desktop-style-tweaks.css";

@font-face {
  font-family: "Inter var experimental";
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Inter.var.woff2") format("woff2-variations"),
    url("/fonts/Inter.var.woff2") format("woff2");
}

:root {
  --swirl-accordion-item-toggle-default: var(--s-surface-default);
  --swirl-accordion-item-toggle-hovered: var(--s-surface-hovered);
  --swirl-accordion-item-toggle-pressed: var(--s-surface-pressed);

  --swirl-autocomplete-tags-margin-top: 0;

  --swirl-avatar-group-border-color: var(--s-background-default);
  --swirl-avatar-background-color: var(--s-surface-raised-default);

  --swirl-badge-border-color: var(--s-background-default);

  --swirl-button-border-top-right-radius: var(--s-border-radius-base);
  --swirl-button-border-top-left-radius: var(--s-border-radius-base);
  --swirl-button-border-bottom-right-radius: var(--s-border-radius-base);
  --swirl-button-border-bottom-left-radius: var(--s-border-radius-base);

  --swirl-card-background-default: var(--s-surface-default);
  --swirl-card-background-hovered: var(--s-surface-hovered);
  --swirl-card-background-pressed: var(--s-surface-pressed);

  --swirl-carousel-gradient: 255, 255, 255;

  --swirl-icon-button-border-top-right-radius: 50%;
  --swirl-icon-button-border-top-left-radius: 50%;
  --swirl-icon-button-border-bottom-right-radius: 50%;
  --swirl-icon-button-border-bottom-left-radius: 50%;

  --swirl-flat-button-background-default: var(--s-action-neutral-default);
  --swirl-flat-button-background-disabled: var(--s-action-neutral-disabled);
  --swirl-flat-button-background-hovered: var(--s-action-neutral-hovered);
  --swirl-flat-button-background-pressed: var(--s-action-neutral-pressed);

  --swirl-ghost-button-background-default: var(--s-background-default);
  --swirl-ghost-button-background-disabled: var(--s-background-default);
  --swirl-ghost-button-background-hovered: var(--s-background-hovered);
  --swirl-ghost-button-background-pressed: var(--s-background-pressed);

  --swirl-resource-list-item-background-default: var(--s-background-default);
  --swirl-resource-list-item-background-hovered: var(--s-background-hovered);
  --swirl-resource-list-item-background-pressed: var(--s-background-pressed);

  --swirl-table-sticky-left-shadow: none;
  --swirl-table-sticky-right-shadow: none;

  --swirl-tab-bar-border-width: var(--s-border-width-default);
  --swirl-tab-bar-height: auto;

  --swirl-text-input-placeholder-size: var(--s-font-size-base);

  @media (--from-desktop-without-touch) {
    --swirl-button-border-top-right-radius: var(--s-border-radius-sm);
    --swirl-button-border-top-left-radius: var(--s-border-radius-sm);
    --swirl-button-border-bottom-right-radius: var(--s-border-radius-sm);
    --swirl-button-border-bottom-left-radius: var(--s-border-radius-sm);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html.theme-dark {
  --swirl-carousel-gradient: 25, 26, 28;
  color-scheme: dark;
}

body {
  color: var(--s-text-default);
  background-color: var(--s-background-default);
  font-family: var(--s-font-family-text);
  font-size: var(--s-font-size-base);
  font-weight: var(--s-font-weight-normal);

  -webkit-font-smoothing: antialiased;
}

b,
strong {
  font-weight: var(--s-font-weight-semibold);
}

dl,
dd,
dt {
  margin: 0;
  padding: 0;
}
