:host {
  display: inline-block;

  & * {
    box-sizing: border-box;
  }
}

.toggle-group {
  padding: var(--s-space-2);
  background-color: var(--s-surface-sunken-default);
  border-radius: var(--s-space-8);
  transition: box-shadow 0.3s;

  &--elevated {
    box-shadow: var(--s-shadow-level-2);
  }

  &--variant-outline {
    outline: var(--s-border-width-default) solid var(--s-border-strong);
    outline-offset: calc(var(--s-border-width-default) * -1);
  }
}
