@import "../../styles/media-queries.css";

:host {
  position: relative;
  z-index: 1;
  display: block;

  & * {
    box-sizing: border-box;
  }

  &(:hover),
  &(:focus-within) {
    z-index: 2;
  }
}

.table-row-group__header-row {
  position: relative;
  z-index: var(--s-z-10);
  padding: var(--s-space-12) var(--s-space-16);
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);
  background-color: var(--s-surface-raised-default);
  font-size: var(--s-font-size-sm);
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-sm);
}

.table-row-group__label {
  @media (--from-tablet) {
    position: sticky;
    left: var(--s-space-16);
  }
}

.table-row-group__tooltip {
  display: inline-flex;
  margin-left: var(--s-space-4);
  vertical-align: middle;
}

.table-row-group__tooltip-icon {
  color: var(--s-icon-default);
}
