@import "../../styles/media-queries.css";

:host {
  position: relative;
  z-index: 1;
  display: block;

  & * {
    box-sizing: border-box;
  }

  &(:hover),
  &(:focus-within) {
    z-index: 2;
  }
}

.table-row-group__header-row {
  position: relative;
  z-index: var(--s-z-10);
  padding: var(--s-space-12) var(--s-space-16);
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);
  background-color: var(--s-surface-raised-default);
  font-size: var(--s-font-size-sm);
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-sm);
  display: flex;
  align-items: center;
}

.table-row-group__label {
  position: sticky;
  left: var(--s-space-16);
}

.table-row-group__tooltip {
  display: inline-flex;
  margin-left: var(--s-space-4);
  vertical-align: middle;
}

.table-row-group__tooltip-icon {
  color: var(--s-icon-default);
}

.table-row-group__collapse-icon {
  color: var(--s-icon-default);
  padding-right: var(--s-space-20);
}

.table-row-group__rows-container {
  overflow: visible clip;
  transition: height 0.3s ease-out;
}

.table-row-group__rows-container.is-hidden {
  height: 0;
}

.sc-swirl-button-h {
  display: flex;
}
