@import "../../styles/media-queries.css";

:host {
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.data-cell {
  display: flex;
  align-items: center;
  gap: var(--s-space-8);
  width: 100%;
  padding: var(--s-space-12) var(--s-space-16);
  background-color: var(--s-surface-raised-50-default);
  border-radius: var(--swirl-data-cell-border-radius, var(--s-border-radius-l));
}

.data-cell--vertical {
  align-items: center;
}

.data-cell--reverse {
flex-direction: row-reverse;
}

.data-cell__media {
  flex-shrink: 0;
  display: flex;
  align-items: center;

  & ::slotted(swirl-avatar) {
    --swirl-avatar-background-color: var(--s-surface-default);
    --swirl-avatar-border-width: 0.125rem;
    --swirl-avatar-border-color: var(--s-surface-default);
  }
}

.data-cell__content {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--s-space-4);
}

.data-cell--vertical .data-cell__content {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-space-4);
}

.data-cell__label-wrapper {
  display: flex;
  align-items: center;
  gap: var(--s-space-4);
}

.data-cell__label {
  font-size: var(--s-font-size-sm);
  line-height: var(--s-line-height-sm);
  color: var(--s-text-subdued);
  font-weight: var(--s-font-weight-normal);
}

.data-cell__tooltip {
  display: inline-flex;
  margin-left: var(--s-space-4);
  vertical-align: middle;

  & swirl-icon-info {
    color: var(--s-text-subdued);
  }
}

.data-cell__value-wrapper {
  display: flex;
  align-items: center;
  gap: var(--s-space-4);
}


.data-cell__value {
  font-size: var(--s-font-size-sm);
  line-height: var(--s-line-height-sm);
  color: var(--s-text-default);
  font-weight: var(--s-font-weight-semibold);
}

.data-cell__suffix {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.data-cell__input {
  width: 100%;

  /* apply white background color to form control inputs */
  & ::slotted(swirl-form-control) {
    --swirl-form-control-label-background-color: var(
      --swirl-data-cell-input-background,
      var(--s-surface-default)
    );
  }
}

/* Responsive: Switch to vertical layout on mobile */
@media (--to-tablet) {
  .data-cell:not(.data-cell--vertical) .data-cell__content {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--s-space-4);
  }
}
