:host {
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;

  & * {
    box-sizing: border-box;
  }
}

.app-layout {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.app-layout__grid {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
    "body"
    "body";
}

.app-layout:not(.app-layout--has-navigation) {
  & .app-layout__header,
  & .app-layout__navigation {
    display: none;
  }
}

.app-layout:not(.app-layout--has-sidebar) {
  & .app-layout__sidebar {
    display: none;
  }
}

.app-layout:not(.app-layout--mobile-view-body) {
  @media (--to-tablet) {
    & .app-layout__body {
      display: none;
    }
  }
}

.app-layout:not(.app-layout--mobile-view-sidebar) {
  @media (--to-tablet) {
    & .app-layout__sidebar {
      display: none;
    }
  }
}

.app-layout--has-navigation {
  & .app-layout__grid {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "navigation";

    @media (--from-tablet) {
      grid-template-columns: min(50%, 25rem) 1fr;
      grid-template-areas:
        "header body"
        "navigation body";
    }
  }

  & .app-layout__app-bar-mobile-menu-button {
    @media (--from-tablet) {
      display: none;
    }
  }
}

.app-layout--has-sidebar {
  &.app-layout--sidebar-active {
    @media (--from-tablet) {
      & .app-layout__grid {
        grid-template-columns: 1fr min(50%, 25rem);
        grid-template-areas:
          "body sidebar"
          "body sidebar";
      }
    }
  }

  & .app-layout__grid {
    grid-template-columns: 100%;
    grid-template-areas:
      "body"
      "body";
  }
}

.app-layout--has-navigation.app-layout--has-sidebar {
  &.app-layout--sidebar-active {
    @media (--from-large-desktop) {
      & .app-layout__grid {
        animation: app-layout-sidebar-slide-in 0.3s;
        grid-template-columns: 25rem 1fr 25rem;
        grid-template-areas:
          "header body sidebar"
          "navigation body sidebar";
      }
    }
  }

  &.app-layout--sidebar-closing {
    @media (--from-large-desktop) {
      & .app-layout__grid {
        animation: app-layout-sidebar-slide-out 0.3s;
      }
    }
  }

  & .app-layout__grid {
    @media (--from-tablet) {
      grid-template-columns: min(50%, 25rem) 1fr;
      grid-template-areas:
        "header body"
        "navigation body";
    }

    @media (--from-desktop) {
      grid-template-columns: 25rem 1fr;
      grid-template-areas:
        "header body"
        "navigation body";
    }
  }

  @media (--from-tablet) and (--to-large-desktop) {
    & .app-layout__sidebar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: min(40%, 25rem);
      border-left: var(--s-border-width-default) solid var(--s-border-default);
      box-shadow: var(--s-shadow-level-3);
    }
  }
}

.app-layout--mobile-view-navigation {
  @media (--to-tablet) {
    & .app-layout__grid {
      grid-template-areas:
        "header"
        "navigation";
    }

    & .app-layout__body,
    & .app-layout__sidebar {
      display: none;
    }
  }
}

.app-layout--mobile-view-body {
  @media (--to-tablet) {
    & .app-layout__grid {
      grid-template-areas:
        "body"
        "body";
    }

    & .app-layout__header,
    & .app-layout__navigation,
    & .app-layout__sidebar {
      display: none;
    }
  }
}

.app-layout--mobile-view-sidebar {
  @media (--to-tablet) {
    & .app-layout__grid {
      grid-template-areas:
        "sidebar"
        "sidebar";
    }

    & .app-layout__header,
    & .app-layout__navigation,
    & .app-layout__body {
      display: none;
    }
  }
}

.app-layout--has-sidebar:not(.app-layout--sidebar-active) {
  & .app-layout__sidebar {
    display: none;
  }
}

.app-layout--sidebar-closing {
  & .app-layout__sidebar {
    @media (--from-tablet) {
      animation: app-layout-sidebar-overlay-slide-out 0.3s;
    }

    @media (--from-large-desktop) {
      animation: none;
    }
  }
}

.app-layout__header {
  z-index: 1;
  display: flex;
  min-width: 0;
  padding-top: var(--s-space-12);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-12);
  padding-left: var(--s-space-16);
  align-items: center;
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);
  background-color: var(--s-background-default);
  grid-area: header;
  will-change: transform;
  gap: var(--s-space-8);

  @media (--from-tablet) {
    border-right: var(--s-border-width-default) solid var(--s-border-default);
  }
}

.app-layout__app-name {
  min-width: 0;

  & .heading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.app-layout__app-bar-mobile-menu-button,
.app-layout__navigation-mobile-menu-button {
  flex-shrink: 0;

  @media (--from-desktop) {
    display: none;
  }
}

.app-layout__navigation-back-button {
  margin-left: calc(-1 * var(--s-space-4));
}

.app-layout__floating-cta {
  position: absolute;
  z-index: 4;
  right: var(--s-space-16);
  bottom: var(--s-space-16);
}

.app-layout__navigation-controls {
  flex-shrink: 0;
}

.app-layout__navigation {
  z-index: 1;
  overflow-y: auto;
  border-right: var(--s-border-width-default) solid var(--s-border-default);
  background-color: var(--s-background-default);
  grid-area: navigation;
  will-change: transform;
}

.app-layout__body {
  z-index: 2;
  display: grid;
  width: 100%;
  height: 100%;
  grid-area: body;
  grid-template-rows: minmax(4rem, auto) auto 1fr;
  grid-template-areas:
    "app-bar"
    "banner"
    "content";
  will-change: transform;
}

.app-layout__app-bar {
  display: flex;
  min-width: 0;
  padding-right: var(--s-space-16);
  padding-left: var(--s-space-16);
  align-items: center;
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);
  background-color: var(--s-background-default);
  grid-area: app-bar;
  gap: var(--s-space-8);
}

.app-layout__back-to-navigation-button {
  margin-left: calc(-1 * var(--s-space-4));

  @media (--from-tablet) {
    display: none;
  }
}

.app-layout__banner {
  grid-area: banner;
}

.app-layout__app-bar-content {
  min-width: 0;
  flex-grow: 1;
}

.app-layout__content {
  overflow: auto;
  background-color: var(--s-background-default);
  grid-area: content;
}

.app-layout__sidebar {
  z-index: 3;
  display: grid;
  width: 100%;
  height: 100%;
  border-left: var(--s-border-width-default) solid var(--s-border-default);
  will-change: transform;
  grid-area: sidebar;
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
    "sidebar-header"
    "sidebar-content";

  @media (--from-tablet) {
    animation: app-layout-slide-in 0.3s;
  }

  @media (--from-large-desktop) {
    width: 25rem;
    animation: none;
  }
}

.app-layout__sidebar-header {
  display: flex;
  min-width: 0;
  padding-top: var(--s-space-12);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-12);
  padding-left: var(--s-space-16);
  align-items: center;
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);
  background-color: var(--s-background-default);
  grid-area: sidebar-header;
  gap: var(--s-space-8);

  @media (--from-desktop) {
    padding-left: var(--s-space-16);
  }
}

.app-layout__sidebar-heading {
  min-width: 0;
  flex-grow: 1;

  & .heading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.app-layout__sidebar-close-button {
  margin-left: calc(-1 * var(--s-space-4));
}

.app-layout__sidebar-content {
  overflow-y: auto;
  background-color: var(--s-background-default);
  grid-area: sidebar-content;
}
