:host {
  --header-height: 3.5625rem;

  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;

  & * {
    box-sizing: border-box;
  }
}

.app-layout {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.app-layout__grid {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    "body"
    "body";
}

.app-layout:not(.app-layout--has-navigation) {
  & .app-layout__header,
  & .app-layout__navigation {
    display: none;
  }
}

.app-layout:not(.app-layout--has-sidebar) {
  & .app-layout__sidebar {
    display: none;
  }
}

.app-layout:not(.app-layout--mobile-view-body) {
  @media (--to-tablet) {
    & .app-layout__body {
      display: none;
    }
  }
}

.app-layout:not(.app-layout--mobile-view-sidebar) {
  @media (--to-tablet) {
    & .app-layout__sidebar {
      display: none;
    }
  }
}

.app-layout:not(.app-layout--has-app-bar-mobile-menu-button) {
  & .app-layout__app-bar-mobile-menu-button {
    display: none;
  }
}

.app-layout--has-navigation {
  & .app-layout__grid {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "navigation";

    @media (--from-tablet) {
      grid-template-columns: min(50%, 22.5rem) 1fr;
      grid-template-areas:
        "header body"
        "navigation body";
    }

    @media (--from-large-desktop) {
      grid-template-columns: min(50%, 25rem) 1fr;
    }
  }

  & .app-layout__app-bar-mobile-menu-button {
    @media (--from-tablet) {
      display: none;
    }
  }

  &.app-layout--nav-collapsible {
    @media (--from-desktop) {
      &.app-layout--nav-collapsed {
        & .app-layout__grid {
          grid-template-columns: 0 1fr;
        }
      }

      &.app-layout--nav-overlayed {
        & .app-layout__grid {
          grid-template-columns: 0 1fr;
        }

        & .app-layout__header,
        & .app-layout__navigation {
          position: absolute;
          z-index: 4;
          top: 0;
          left: 0;
          width: 22.5rem;
          animation: app-layout-nav-overlay-slide-in-desktop 0.1s;
          animation-fill-mode: forwards;
        }

        & .app-layout__header {
          &:after {
            position: absolute;
            z-index: 1;
            top: 0;
            left: calc(100% + var(--s-border-width-default));
            display: block;
            width: 2rem;
            height: 100vh;
            background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.05) 0,
              rgba(0, 0, 0, 0) 80%,
              rgba(0, 0, 0, 0) 100%
            );
            content: "";
          }
        }

        & .app-layout__navigation {
          z-index: 3;
          bottom: 0;
        }
      }
    }

    @media (--from-large-desktop) {
      &.app-layout--nav-overlayed {
        & .app-layout__header,
        & .app-layout__navigation {
          width: 25rem;
          animation: app-layout-nav-overlay-slide-in-large-desktop 0.1s;
        }
      }
    }
  }
}

.app-layout--has-sidebar {
  &:not(.app-layout--has-navigation):not(.app-layout--sidebar-positioning-overlay) {
    &.app-layout--sidebar-opening {
      @media (--from-tablet) {
        & .app-layout__grid {
          animation: app-layout-no-nav-sidebar-slide-in 0.3s;

          @media (prefers-reduced-motion) {
            animation: none;
          }
        }
      }
    }

    &.app-layout--sidebar-closing {
      @media (--from-tablet) {
        & .app-layout__grid {
          animation: app-layout-no-nav-sidebar-slide-out 0.3s;

          @media (prefers-reduced-motion) {
            animation: none;
          }
        }
      }
    }
  }

  &.app-layout--sidebar-active,
  &.app-layout--sidebar-opening {
    @media (--from-tablet) {
      & .app-layout__grid {
        grid-template-columns: 1fr min(50%, 25rem);
        grid-template-areas:
          "body sidebar"
          "body sidebar";
      }
    }
  }

  & .app-layout__grid {
    grid-template-columns: 100%;
    grid-template-areas:
      "body"
      "body";
  }
}

.app-layout--has-navigation.app-layout--has-sidebar:not(.app-layout--sidebar-positioning-overlay) {
  & .app-layout__sidebar {
    @media (--from-larger-desktop) {
      position: static;
      width: 25rem;
      z-index: auto;
      box-shadow: none;
      animation: none;
    }
  }

  &.app-layout--sidebar-opening,
  &.app-layout--sidebar-active {
    & .app-layout__grid {
      @media (--from-larger-desktop) {
        grid-template-columns: 25rem 1fr 25rem;
        grid-template-areas:
          "header body sidebar"
          "navigation body sidebar";
      }
    }
  }

  &.app-layout--sidebar-opening {
    @media (--from-larger-desktop) {
      & .app-layout__grid {
        animation: app-layout-sidebar-slide-in 0.3s;
        animation-fill-mode: forwards;

        @media (prefers-reduced-motion) {
          animation: none;
        }
      }

      &.app-layout--nav-collapsed,
      &.app-layout--nav-overlayed {
        & .app-layout__grid {
          animation: app-layout-sidebar-slide-in-with-collapsed-nav 0.3s;
        }
      }
    }
  }

  &.app-layout--sidebar-closing {
    @media (--from-larger-desktop) {
      & .app-layout__grid {
        animation: app-layout-sidebar-slide-out 0.3s;

        @media (prefers-reduced-motion) {
          animation: none;
        }
      }

      &.app-layout--nav-collapsed,
      &.app-layout--nav-overlayed {
        & .app-layout__grid {
          animation: app-layout-sidebar-slide-out-with-collapsed-nav 0.3s;
        }
      }
    }
  }
}

.app-layout--has-navigation.app-layout--has-sidebar {
  & .app-layout__grid {
    @media (--from-tablet) {
      grid-template-columns: min(50%, 22.5rem) 1fr;
      grid-template-areas:
        "header body"
        "navigation body";
    }

    @media (--from-desktop) {
      grid-template-columns: 22.5rem 1fr;
    }

    @media (--from-large-desktop) {
      grid-template-columns: 25rem 1fr;
    }
  }

  &.app-layout--nav-collapsible {
    @media (--from-desktop) {
      &.app-layout--nav-collapsed {
        & .app-layout__grid {
          grid-template-columns: 0 1fr;
        }
      }

      &.app-layout--nav-overlayed {
        & .app-layout__grid {
          grid-template-columns: 0 1fr;
        }
      }
    }
  }

  @media (--from-tablet) {
    & .app-layout__sidebar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: min(40%, 25rem);
      z-index: 3;
    }

    &:not(.app-layout--rounded-corners) {
      border-left: var(--s-border-width-default) solid var(--s-border-default);
      box-shadow: var(--s-shadow-level-3);
    }
  }
}

.app-layout--mobile-view-navigation {
  @media (--to-tablet) {
    & .app-layout__grid {
      grid-template-areas:
        "header"
        "navigation";
    }

    & .app-layout__body,
    & .app-layout__sidebar {
      display: none;
    }
  }
}

.app-layout--mobile-view-body {
  @media (--to-tablet) {
    & .app-layout__grid {
      grid-template-areas:
        "body"
        "body";
    }

    & .app-layout__header,
    & .app-layout__navigation,
    & .app-layout__sidebar {
      display: none;
    }
  }
}

.app-layout--mobile-view-sidebar {
  @media (--to-tablet) {
    & .app-layout__grid {
      grid-template-areas:
        "sidebar"
        "sidebar";
    }

    & .app-layout__header,
    & .app-layout__navigation,
    & .app-layout__body {
      display: none;
    }
  }
}

.app-layout--has-sidebar:not(.app-layout--sidebar-active):not(.app-layout--sidebar-opening) {
  & .app-layout__sidebar {
    display: none;
  }
}

.app-layout--sidebar-closing {
  & .app-layout__sidebar {
    @media (--from-tablet) {
      animation: app-layout-sidebar-overlay-slide-out 0.3s;

      @media (prefers-reduced-motion) {
        animation: none;
      }
    }
  }

  &:not(.app-layout--sidebar-positioning-overlay) {
    & .app-layout__sidebar {
      @media (--from-larger-desktop) {
        animation: none;
      }
    }
  }
}

.app-layout--has-app-bar-controls {
  & .app-layout__app-bar-controls {
    display: block;
  }
}

.app-layout--has-bottom-bar {
  & .app-layout__body {
    grid-template-rows: minmax(var(--header-height), auto) auto 1fr auto;
    grid-template-areas:
      "app-bar"
      "banner"
      "content"
      "bottom-bar";
  }

  & .app-layout__content {
    border-bottom: var(--s-border-width-default) solid transparent;
  }

  & .app-layout__bottom-bar {
    display: block;
  }
}

.app-layout--has-custom-app-bar-back-button {
  & .app-layout__custom-app-bar-back-button {
    display: block;
  }
}

.app-layout--has-custom-sidebar-header {
  & .app-layout__sidebar-header {
    display: none;
  }

  & .app-layout__custom-sidebar-header {
    display: block;
  }
}

.app-layout--has-floating-action-button {
  & .app-layout__floating-action-button {
    display: block;
  }
}

.app-layout--hide-app-bar {
  & .app-layout__body {
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "banner"
      "content"
      "bottom-bar";
  }
}

.app-layout--content-scrollable {
  &:not(.app-layout--content-scrolled-to-top) {
    & .app-layout__app-bar {
      border-bottom-color: var(--s-border-default);
    }
  }

  &.app-layout--has-bottom-bar:not(.app-layout--content-scrolled-to-bottom) {
    & .app-layout__content {
      border-bottom-color: var(--s-border-default);
    }
  }
}

.app-layout--nav-scrollable {
  &:not(.app-layout--nav-scrolled-to-top) {
    & .app-layout__header {
      border-bottom-color: var(--s-border-default);
    }
  }
}

.app-layout--sidebar-scrollable {
  &:not(.app-layout--sidebar-scrolled-to-top) {
    & .app-layout__sidebar-header,
    & .app-layout__custom-sidebar-header {
      border-bottom-color: var(--s-border-default);
    }
  }
}

.app-layout__header {
  z-index: 1;
  display: flex;
  min-width: 0;
  height: var(--header-height);
  padding-top: var(--s-space-12);
  padding-right: var(--s-space-8);
  padding-bottom: var(--s-space-12);
  padding-left: var(--s-space-8);
  align-items: center;
  border-bottom: var(--s-border-width-default) solid transparent;
  background-color: var(--s-background-default);
  grid-area: header;
  gap: var(--s-space-8);

  @media (--from-tablet) {
    border-right: var(--s-border-width-default) solid var(--s-border-default);
  }

  @media (--from-desktop) {
    padding-right: var(--s-space-16);
    padding-left: var(--s-space-16);
  }
}

.app-layout__app-name {
  min-width: 0;

  & .heading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.app-layout__app-bar-mobile-menu-button,
.app-layout__navigation-mobile-menu-button {
  flex-shrink: 0;

  @media (--from-desktop) {
    display: none;
  }
}

.app-layout__app-bar-mobile-menu-button {
  padding-left: var(--s-space-8);
}

.app-layout__navigation-back-button {
  margin-left: calc(-1 * var(--s-space-4));
}

.app-layout__floating-action-button {
  position: absolute;
  z-index: 4;
  right: var(--s-space-16);
  bottom: var(--s-space-16);
  display: none;
}

.app-layout__navigation-controls {
  flex-shrink: 0;
}

.app-layout__navigation {
  overflow-y: auto;
  border-right: var(--s-border-width-default) solid var(--s-border-default);
  background-color: var(--s-background-default);
  grid-area: navigation;
}

.app-layout__nav-overlay-toggle,
.app-layout__nav-expansion-toggle {
  display: none;

  @media (--from-desktop) {
    display: block;
  }
}

.app-layout__nav-expansion-toggle {
  padding-left: var(--s-space-16);
}

.app-layout__body {
  z-index: 2;
  display: grid;
  width: 100%;
  height: 100%;
  grid-area: body;
  grid-template-rows: minmax(var(--header-height), auto) auto 1fr;
  grid-template-areas:
    "app-bar"
    "banner"
    "content";
  background-color: var(--s-background-default);
}

.app-layout__app-bar {
  --swirl-tab-bar-border-width: 0;
  --swirl-tab-bar-height: 3.5rem;

  display: flex;
  min-width: 0;
  align-items: center;
  border-bottom: var(--s-border-width-default) solid transparent;
  grid-area: app-bar;
  gap: var(--s-space-8);
}

.app-layout__bottom-bar {
  display: none;
  min-width: 0;
  align-items: center;
  grid-area: bottom-bar;
}

.app-layout__back-to-navigation-button {
  padding-left: var(--s-space-8);

  @media (--from-tablet) {
    display: none;
  }
}

.app-layout__banner {
  grid-area: banner;
}

.app-layout__app-bar-content {
  min-width: 0;
  flex-grow: 1;
}

.app-layout__custom-app-bar-back-button {
  display: none;
  padding-left: var(--s-space-8);
}

.app-layout__app-bar-controls {
  display: none;
  padding-right: var(--s-space-8);

  @media (--from-tablet) {
    padding-right: var(--s-space-16);
  }
}

.app-layout__content {
  overflow: auto;
  grid-area: content;
}

.app-layout__sidebar {
  display: grid;
  width: 100%;
  height: 100%;
  border-left: var(--s-border-width-default) solid var(--s-border-default);
  grid-area: sidebar;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    "sidebar-header"
    "sidebar-content";
  background-color: var(--s-background-default);

  @media (--from-tablet) {
    animation: app-layout-slide-in 0.3s;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }
}

.app-layout__custom-sidebar-header {
  display: none;
  min-width: 0;
  border-bottom: var(--s-border-width-default) solid transparent;
  grid-area: sidebar-header;
}

.app-layout__sidebar-header {
  display: flex;
  min-width: 0;
  padding-top: var(--s-space-12);
  padding-right: var(--s-space-8);
  padding-bottom: var(--s-space-12);
  padding-left: var(--s-space-8);
  align-items: center;
  border-bottom: var(--s-border-width-default) solid transparent;
  grid-area: sidebar-header;
  gap: var(--s-space-8);

  @media (--from-tablet) {
    padding-right: var(--s-space-16);
    padding-left: var(--s-space-16);
  }
}

.app-layout__sidebar-heading {
  min-width: 0;
  flex-grow: 1;

  & .heading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.app-layout__sidebar-close-button {
  margin-left: calc(-1 * var(--s-space-4));
}

.app-layout__sidebar-content {
  overflow-y: auto;
  grid-area: sidebar-content;
}

.app-layout--rounded-corners {
  @media (--from-tablet) {
    & .app-layout__grid {
      column-gap: var(--s-space-8);
    }

    & .app-layout__header {
      border-right: none;
      border-radius: var(--s-border-radius-l) var(--s-border-radius-l) 0 0;
    }

    & .app-layout__navigation {
      border-right: none;
      border-radius: 0 0 var(--s-border-radius-l) var(--s-border-radius-l);
    }

    & .app-layout__body,
    & .app-layout__sidebar {
      border-radius: var(--s-border-radius-l);
    }

    & .app-layout__sidebar {
      border-left: none;
      /* adaptation of shadow-level-3 to support rounded corners */
      box-shadow: -12px 0 32px -10px rgba(23, 23, 23, 0.12), -8px 4px 12px -8px rgba(23, 23, 23, 0.08);
    }
  }
}

.app-layout--sidebar-positioning-overlay:not(.app-layout--has-navigation).app-layout--has-sidebar {
  &.app-layout--sidebar-active,
  &.app-layout--sidebar-opening {
    @media (--from-tablet) {
      & .app-layout__grid {
        grid-template-columns: 100%;
        grid-template-areas:
          "body"
          "body";
      }
    }
  }

  @media (--from-tablet) {
    & .app-layout__sidebar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: min(50%, 25rem);
      z-index: 3;
      border-left: var(--s-border-width-default) solid var(--s-border-default);
      box-shadow: var(--s-shadow-level-3);
    }
  }
}

@keyframes app-layout-nav-overlay-slide-in-desktop {
  from {
    width: 0;
  }

  to {
    width: 22.5rem;
  }
}

@keyframes app-layout-nav-overlay-slide-in-large-desktop {
  from {
    width: 0;
  }

  to {
    width: 25rem;
  }
}
