@import "../../styles/media-queries.css";

:host {
  display: inline-block;
  max-width: 100%;
  flex-shrink: 0;

  & * {
    box-sizing: border-box;
  }
}

.button {
  display: inline-flex;
  width: 100%;
  padding: var(--s-space-8) var(--s-space-16);
  justify-content: center;
  align-items: center;
  border: none;
  border-top-left-radius: var(--swirl-button-border-top-left-radius);
  border-top-right-radius: var(--swirl-button-border-top-right-radius);
  border-bottom-right-radius: var(--swirl-button-border-bottom-right-radius);
  border-bottom-left-radius: var(--swirl-button-border-bottom-left-radius);
  color: var(--s-text-subdued);
  background-color: var(--swirl-ghost-button-background-default);
  font: inherit;
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-lg);
  text-decoration: none;
  cursor: pointer;
  gap: var(--s-space-8);
  transition: box-shadow 0.3s;

  &:hover {
    background-color: var(--swirl-ghost-button-background-hovered);

    --swirl-tag-background-default: var(--s-surface-sunken-pressed);
  }

  &:active {
    background-color: var(--swirl-ghost-button-background-pressed);
  }

  &--elevated {
    box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.25);
  }

  &:disabled,
  &.button--disabled {
    color: var(--s-text-disabled);
    background-color: var(--swirl-ghost-button-background-disabled);
    cursor: default;

    & .button__icon {
      color: var(--s-icon-disabled);
    }
  }

  &:focus:where(:not(:focus-visible)) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
    outline-offset: var(--s-space-2);
  }

  @media (--from-desktop-without-touch) {
    padding: var(--s-space-8) var(--s-space-12);
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
    gap: var(--s-space-4);
  }
}

.button--text-align-start {
  justify-content: flex-start;
}

.button--text-align-center {
  justify-content: center;
}

.button--text-align-end {
  justify-content: flex-end;
}

.button--variant-ghost {
  &.button--intent-strong:where(:not(:disabled):not(.button--disabled)) {
    color: var(--s-text-default);

    & .button__icon {
      color: var(--s-icon-strong);
    }
  }

  &.button--intent-primary:where(:not(:disabled):not(.button--disabled)) {
    color: var(--s-text-highlight);

    & .button__icon {
      color: var(--s-icon-highlight);
    }
  }

  &.button--intent-critical:where(:not(:disabled):not(.button--disabled)) {
    color: var(--s-text-critical);

    & .button__icon {
      color: var(--s-icon-critical);
    }
  }

  &.button--pressed {
    color: var(--s-text-highlight);

    & .button__icon {
      color: var(--s-icon-highlight);
    }
  }

  &.button--size-l {
    padding: var(--s-space-12) var(--s-space-20);

    &.button--icon-only {
      padding: var(--s-space-12);
    }
  }
}

.button--variant-flat {
  color: var(--s-text-default);
  background-color: var(--swirl-flat-button-background-default);
  --swirl-tag-background-default: var(--s-surface-sunken-pressed);

  &:hover {
    background-color: var(--swirl-flat-button-background-hovered);
  }

  &:active {
    background-color: var(--swirl-flat-button-background-pressed);
  }

  &:disabled,
  &.button--disabled {
    background-color: var(--swirl-flat-button-background-disabled);
  }

  &.button--intent-primary:where(:not(:disabled):not(.button--disabled)) {
    color: var(--s-text-on-action-primary);
    background-color: var(--s-action-primary-default);

    &:hover {
      background-color: var(--s-action-primary-hovered);
    }

    &:active {
      background-color: var(--s-action-primary-pressed);
    }

    & .button__icon {
      color: var(--s-icon-on-action-primary);
    }
  }

  &.button--intent-critical:where(:not(:disabled):not(.button--disabled)) {
    color: var(--s-text-on-status);
    background-color: var(--s-action-critical-default);

    &:hover {
      background-color: var(--s-action-critical-hovered);
    }

    &:active {
      background-color: var(--s-action-critical-pressed);
    }

    & .button__icon {
      color: var(--s-icon-on-status);
    }
  }

  & .button__icon {
    color: var(--s-icon-strong);
  }

  &.button--size-l {
    padding: var(--s-space-12) var(--s-space-20);

    &.button--icon-only {
      padding: var(--s-space-12);
    }
  }
}

.button--variant-outline {
  color: var(--s-text-default);
  outline: var(--s-border-width-default) solid var(--s-border-strong);
  outline-offset: calc(var(--s-border-width-default) * -1);

  &:disabled,
  &.button--disabled {
    outline-color: var(--s-border-default);
  }

  &.button--intent-critical:where(:not(:disabled):not(.button--disabled)) {
    color: var(--s-text-critical);
    outline-color: var(--s-border-critical);

    & .button__icon {
      color: var(--s-icon-critical);
    }
  }

  &.button--intent-primary:where(:not(:disabled):not(.button--disabled)),
  &.button--pressed {
    color: var(--s-text-highlight);
    outline-color: var(--s-border-highlight);

    & .button__icon {
      color: var(--s-icon-highlight);
    }
  }

  &.button--size-l {
    padding: var(--s-space-12) var(--s-space-20);

    &.button--icon-only {
      padding: var(--s-space-12);
    }
  }

  & .button__icon {
    color: var(--s-icon-strong);
  }
}

.button--variant-plain {
  padding: 0;
  border-radius: 0;
  color: var(--swirl-plain-button-text-color-default);
  background-color: transparent;

  &:hover:where(:not(:disabled):not(.button--disabled)) {
    color: var(--swirl-plain-button-text-color-hovered);
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: var(--s-space-4);

    & .button__icon {
      color: var(--swirl-plain-button-text-color-hovered);
    }
  }

  &:active:where(:not(:disabled):not(.button--disabled)) {
    color: var(--swirl-plain-button-text-color-pressed);
    background-color: transparent;

    & .button__icon {
      color: var(--swirl-plain-button-text-color-pressed);
    }
  }

  &:disabled,
  &.button--disabled {
    color: var(--swirl-plain-button-text-color-disabled);
    background-color: transparent;

    & .button__icon {
      color: var(--swirl-plain-button-text-color-disabled);
    }
  }

  &.button--icon-only {
    padding: 0;
  }

  &.button--intent-strong:where(:not(:disabled):not(.button--disabled)) {
    color: var(--s-text-default);

    & .button__icon {
      color: var(--s-icon-strong);
    }
  }

  &.button--intent-primary {
    color: var(--s-interactive-primary-default);

    &:hover:where(:not(:disabled):not(.button--disabled)) {
      color: var(--s-interactive-primary-hovered);

      & .button__icon {
        color: var(--s-interactive-primary-hovered);
      }
    }

    &:active:where(:not(:disabled):not(.button--disabled)) {
      color: var(--s-interactive-primary-pressed);

      & .button__icon {
        color: var(--s-interactive-primary-pressed);
      }
    }

    &:disabled,
    &.button--disabled {
      color: var(--s-interactive-primary-disabled);

      & .button__icon {
        color: var(--s-interactive-primary-disabled);
      }
    }

    & .button__icon {
      color: var(--s-interactive-primary-default);
    }
  }

  & .button__icon {
    margin-left: 0;
    color: var(--swirl-plain-button-text-color-default);
  }

  &.button--size-l {
    padding: var(--s-space-12) var(--s-space-20);

    &.button--icon-only {
      padding: var(--s-space-12);
    }
  }
}

.button--variant-on-image {
  color: var(--s-text-on-image);
  background: rgba(0, 0, 0, 0.6);

  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  &:active {
    background: rgba(0, 0, 0, 0.4);
  }

  &:disabled,
  &.button--disabled {
    color: var(--s-text-on-image);
    background: rgba(0, 0, 0, 0.3);

    & .button__icon {
      color: var(--s-icon-on-image);
    }
  }

  & .button__icon {
    color: var(--s-icon-on-image);
  }

  &.button--size-l {
    padding: var(--s-space-12) var(--s-space-20);

    &.button--icon-only {
      padding: var(--s-space-12);
    }
  }
}

.button--variant-floating {
  color: var(--s-text-default);
  background-color: var(--s-surface-overlay-default);

  &:not(.button--elevated) {
    box-shadow: var(--s-shadow-level-1);
  }

  &:hover {
    color: var(--s-text-on-action-primary);
    background-color: var(--s-surface-overlay-hovered);
  }

  &:active {
    color: var(--s-text-on-action-primary);
    background-color: var(--s-surface-overlay-pressed);
  }

  &.button--icon-only {
    padding: var(--s-space-12);
  }

  &.button--intent-primary {
    padding: var(--s-space-12) var(--s-space-20);
    border-radius: 1.5rem;
    color: var(--s-text-on-action-primary);
    background-color: var(--s-action-primary-default);

    &:hover:where(:not(:disabled):not(.button--disabled)) {
      color: var(--s-text-on-action-primary);
      background-color: var(--s-action-primary-hovered);
    }

    &:active:where(:not(:disabled):not(.button--disabled)) {
      color: var(--s-text-on-action-primary);
      background-color: var(--s-action-primary-pressed);
    }

    &:disabled,
    &.button--disabled {
      color: var(--s-text-on-action-primary);

      & .button__icon {
        color: var(--s-icon-on-action-primary);
      }
    }

    &.button--icon-only {
      padding: var(--s-space-12);
    }

    & .button__icon {
      color: var(--s-icon-on-action-primary);
    }
  }

  & .button__icon {
    color: var(--s-icon-strong);
  }
}

.button--icon-position-end {
  & .button__icon {
    margin-right: calc(-1 * var(--s-space-4));
    margin-left: 0;
    order: 2;
  }
}

.button--pill {
  border-radius: 1.25rem;

  &.button--size-l {
    border-radius: 1.5rem;

    @media (--from-desktop-without-touch) {
      border-radius: 1.375rem;
    }
  }

  @media (--from-desktop-without-touch) {
    border-radius: 1.125rem;
  }
}

.button--icon-only {
  padding: var(--s-space-8);

  &.button--pill {
    border-top-left-radius: var(--swirl-icon-button-border-top-left-radius);
    border-top-right-radius: var(--swirl-icon-button-border-top-right-radius);
    border-bottom-right-radius: var(
      --swirl-icon-button-border-bottom-right-radius
    );
    border-bottom-left-radius: var(
      --swirl-icon-button-border-bottom-left-radius
    );
  }

  & .button__icon {
    margin-right: 0;
    margin-left: 0;
  }
}

.button--has-icon {
  & .button__icon {
    display: inline-flex;
  }
}

.button__tag {
  padding-left: var(--s-space-8);
  order: 3;
}

.button__icon {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: calc(-1 * var(--s-space-4));
  color: var(--s-icon-default);
  order: 0;

  @media (--from-desktop-without-touch) {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.button__label {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  order: 1;
}
