:host {
  display: inline-flex;
  align-items: center;
  flex-direction: column;

  & * {
    box-sizing: border-box;
  }
}

.avatar {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.avatar--has-icon {
  color: var(--s-icon-default);
  background-color: var(--s-on-surface-default);
}

.avatar--has-initials {
  padding-right: 0;
  padding-left: 0;
  color: #fff;
}

.avatar--interactive {
  cursor: pointer;

  &:focus {
    outline-color: var(--s-focus);
  }
}

.avatar--size-xs {
  width: 1.75rem;
  height: 1.75rem;
  font-size: 0.75rem;

  &.avatar--has-icon {
    padding-right: 0.4375rem;
    padding-left: 0.4375rem;
  }

  &.avatar--variant-square,
  &.avatar--variant-square .avatar__image,
  &.avatar--variant-square .avatar__initials {
    border-radius: 0.5rem;
  }
}

.avatar--size-s {
  width: 2rem;
  height: 2rem;
  font-size: 0.75rem;

  &.avatar--has-icon {
    padding-right: var(--s-space-2);
    padding-left: var(--s-space-2);
  }

  &.avatar--variant-square,
  &.avatar--variant-square .avatar__image,
  &.avatar--variant-square .avatar__initials {
    border-radius: 0.5rem;
  }
}

.avatar--size-m {
  width: 2.5rem;
  height: 2.5rem;
  font-size: var(--s-font-size-base);

  &.avatar--has-icon {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }

  &.avatar--variant-square,
  &.avatar--variant-square .avatar__image,
  &.avatar--variant-square .avatar__initials {
    border-radius: 0.625rem;
  }
}

.avatar--size-l {
  width: 3rem;
  height: 3rem;
  font-size: var(--s-font-size-lg);

  &.avatar--has-icon {
    padding-right: var(--s-space-3);
    padding-left: var(--s-space-3);
  }

  &.avatar--variant-square,
  &.avatar--variant-square .avatar__image,
  &.avatar--variant-square .avatar__initials {
    border-radius: 0.75rem;
  }
}

.avatar--size-xl {
  width: 4rem;
  height: 4rem;
  font-size: var(--s-font-size-xl);

  &.avatar--has-icon {
    padding-right: var(--s-space-4);
    padding-left: var(--s-space-4);
  }

  &.avatar--variant-square,
  &.avatar--variant-square .avatar__image,
  &.avatar--variant-square .avatar__initials {
    border-radius: 1rem;
  }
}

.avatar--size-2xl {
  width: 9rem;
  height: 9rem;
  font-size: 3.375rem;

  &.avatar--has-icon {
    padding-right: var(--s-space-9);
    padding-left: var(--s-space-9);
  }

  &.avatar--variant-square,
  &.avatar--variant-square .avatar__image,
  &.avatar--variant-square .avatar__initials {
    border-radius: 2.25rem;
  }
}

.avatar__image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  & > img {
    width: 100%;
    height: 100%;
  }
}

.avatar__icon {
  display: inline-flex;
  width: 100%;
  height: 100%;

  & > * {
    width: 100%;
    height: 100%;
  }

  & > *::part(icon) {
    width: 100%;
    height: 100%;
  }
}

.avatar__initials {
  display: inline-flex;
  width: 100%;
  min-width: 0;
  height: 100%;
  padding-right: var(--s-space-1);
  padding-left: var(--s-space-1);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--s-decorative-six-default);

  & > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.avatar__badge {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  transform: translate3d(25%, 25%, 0);
}

.avatar__badge--position-top {
  top: 0;
  bottom: auto;
  transform: translate3d(25%, -25%, 0);
}

.avatar__label {
  margin-top: var(--s-space-2);
  color: var(--s-icon-default);
  font-size: var(--s-font-size-sm);
  font-weight: var(--s-font-weight-medium);
  text-align: center;
}
