:host {
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.box--bordered {
  border: var(--s-border-width-default) solid var(--s-border-default);
}

.box--center-block {
  display: flex;
  align-items: center;
}

.box--center-inline {
  display: flex;
  justify-content: center;
}

.box--cover {
  width: 100%;
  height: 100%;
}
