:host {
  display: inline-flex;

  & * {
    box-sizing: border-box;
  }
}

.tooltip {
  display: inline-flex;
}

.tooltip .tooltip__reference {
  display: inline-flex;
}

.tooltip__popper {
  position: fixed;
  z-index: var(--s-z-40);
  max-width: 17.5rem;
}

.tooltip__bubble {
  position: relative;
  display: block;
  padding-top: var(--s-space-2);
  padding-right: var(--s-space-3);
  padding-bottom: var(--s-space-2);
  padding-left: var(--s-space-3);
  border-radius: var(--s-border-radius-lg);
  color: #fff;
  background-color: var(--s-surface-neutral-default);
  font-size: var(--s-font-size-sm);
  line-height: 1.4;
  backgrund-color: red;
}

.tooltip__arrow {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--s-surface-neutral-default);
}
