@import "../../styles/media-queries.css";

:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.lightbox {
  --swirl-lightbox-view-height: 100vh;

  position: fixed;
  z-index: var(--s-z-40);
  display: block;
  overflow: visible;
  width: auto;
  max-width: none;
  height: var(--swirl-lightbox-view-height);
  max-height: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 1);
  inset: 0;

  &::backdrop {
    display: none;
  }

  &:not([open]) {
    display: none;
  }

  @supports (height: 100dvh) {
    --swirl-lightbox-view-height: 100dvh;
  }

  @media (--from-tablet) {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.lightbox:not(.lightbox--closing) {
  & .lightbox__body {
    animation: 0.15s lightbox-fade-in;

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }
}

.lightbox--closing {
  animation: 0.15s lightbox-fade-out;
  animation-fill-mode: forwards;

  @media (prefers-reduced-motion) {
    animation: none;
  }
}

.lightbox--hide-menu {
  & .lightbox__menu {
    display: none;
  }
}

.lightbox--hide-toolbar {
  & .lightbox__toolbar {
    display: none;
  }
}

.lightbox__body {
  position: relative;
  width: 100%;
  height: 100%;
}

.lightbox__header {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: var(--s-space-12) var(--s-space-16);
  justify-content: space-between;
  align-items: flex-start;
  pointer-events: none;
}

.lightbox__toolbar {
  pointer-events: auto;
}

.lightbox__controls {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0;
  left: 0;
  display: none;
  padding-right: var(--s-space-16);
  padding-left: var(--s-space-16);
  justify-content: space-between;
  align-items: flex-start;
  pointer-events: none;

  @media (--from-tablet) {
    display: flex;
  }
}

.lightbox__close-button,
.lightbox__menu-button,
.lightbox__previous-slide-button,
.lightbox__next-slide-button {
  display: inline-flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  color: var(--s-icon-on-image);
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: opacity 0.15s;
  pointer-events: auto;

  &:disabled {
    pointer-events: none;
    opacity: 0;
  }
}

.lightbox__content {
  overflow: hidden;
  width: 100%;
  height: 100%;
  user-select: none;
}

.lightbox__slides {
  display: flex;
  width: 100%;
  height: 100%;

  & ::slotted(*) {
    flex-basis: 100%;
    flex-shrink: 0;
    transition: transform 0.3s;

    @media (--from-tablet) {
      padding: 4rem 5rem;
    }

    @media (prefers-reduced-motion) {
      transition: none;
    }
  }
}

.lightbox__pagination {
  position: absolute;
  bottom: var(--s-space-32);
  left: 50%;
  padding: var(--s-space-4) var(--s-space-12);
  border-radius: var(--s-border-radius-base);
  color: var(--s-text-on-image);
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-base);
  transform: translateX(-50%);
  pointer-events: none;

  @media (--from-tablet) {
    display: none;
  }
}

.lightbox__meta {
  display: flex;
  padding-top: var(--s-space-4);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-4);
  padding-left: var(--s-space-16);
  align-items: center;
  gap: var(--s-space-12);

  @media (--from-tablet) {
    max-width: 18rem;
  }
}

.lightbox__thumbnail {
  display: inline-flex;
  flex-shrink: 0;
}

.lightbox__file-info {
  display: flex;
  min-width: 0;
  flex-grow: 1;
  flex-direction: column;
}

@keyframes lightbox-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightbox-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
