@import "../../styles/media-queries.css";

:host {
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.form-control {
  display: block;
  width: 100%;
  line-height: var(--s-line-height-sm);

  &.form-control--has-focus:not(.form-control--disabled) {
    & .form-control__label {
      border-color: var(--s-border-highlight);
      box-shadow: 0 0 0 var(--s-border-width-default) var(--s-border-highlight);
    }
  }

  &:not(.form-control--has-value):not(.form-control--has-focus):not(.form-control--is-select) {
    & .form-control__input {
      overflow: hidden;
      max-height: 0;
    }

    & .form-control__label-text {
      bottom: 50%;
      font-size: var(--s-font-size-base);
      transform: translateY(50%);
      opacity: 1;

      @media (--from-desktop-without-touch) {
        font-size: var(--s-font-size-sm);
        line-height: var(--s-line-height-sm);
      }
    }
  }

  &:not(.form-control--has-value).form-control--is-select {
    & .select__label {
      overflow: hidden;
      max-height: 0;
      pointer-events: none;
    }

    & .form-control__label-text {
      bottom: 50%;
      font-size: var(--s-font-size-base);
      transform: translateY(50%);
      opacity: 1;

      @media (--from-desktop-without-touch) {
        font-size: var(--s-font-size-sm);
        line-height: var(--s-line-height-sm);
      }
    }
  }
}

.form-control--label-position-outside {
  padding-top: calc(var(--s-line-height-sm) + var(--s-space-4));

  & .form-control__label {
    min-height: calc(2.375rem + 2 * var(--s-border-width-default));
    padding: var(--s-space-8) var(--s-space-12);
    gap: var(--s-space-2);

    @media (--from-desktop-without-touch) {
      min-height: calc(2.25rem + 2 * var(--s-border-width-default));
    }
  }

  & .form-control__label-text,
  &:not(.form-control--has-value):not(.form-control--has-focus):not(.form-control--is-select)
    .form-control__label-text,
  &:not(.form-control--has-value).form-control--is-select
    .form-control__label-text {
    bottom: calc(100% + var(--s-space-4));
    left: 0;
    color: var(--s-text-default);
    font-size: var(--s-font-size-sm);
    font-weight: var(--s-font-weight-medium);
    transform: none;
    opacity: 1;
  }
}

.form-control--invalid {
  &.form-control--has-focus:not(.form-control--disabled) {
    & .form-control__label {
      border-color: var(--s-border-critical);
      box-shadow: 0 0 0 var(--s-border-width-default) var(--s-border-critical);
    }
  }

  & .form-control__label {
    border-color: var(--s-border-critical);
  }
}

.form-control--disabled {
  & .form-control__label {
    border-color: var(--s-border-disabled);
    color: var(--s-text-disabled);
  }

  & .form-control__description {
    color: var(--s-text-disabled);
  }
}

.form-control--inline {
  & .form-control__label {
    min-height: calc(2.375rem + 2 * var(--s-border-width-default));
    padding: var(--s-space-8) var(--s-space-12);
    gap: var(--s-space-2);

    @media (--from-desktop-without-touch) {
      min-height: calc(2.25rem + 2 * var(--s-border-width-default));
    }
  }

  & .form-control__label-text {
    right: var(--s-space-12);
    left: var(--s-space-12);
    transition: none;
    opacity: 0;
  }
}

.form-control__label {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 4.375rem;
  padding: calc(var(--s-space-12) + 1.25rem) var(--s-space-16) var(--s-space-12);
  justify-content: center;
  border: var(--s-border-width-default) solid var(--s-border-strong);
  border-radius: var(--s-border-radius-sm);
  color: var(--s-text-subdued);
  flex-direction: column;
  gap: var(--s-space-2);
}

.form-control__label-text {
  position: absolute;
  right: var(--s-space-16);
  bottom: calc(100% - 1.25rem - var(--s-space-12));
  left: var(--s-space-16);
  overflow: hidden;
  font-size: var(--s-font-size-sm);
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: font-size 0.15s, transform 0.15s, top 0.15s;
  transform: none;
}

.form-control__description {
  display: block;
  margin-top: var(--s-space-4);
  padding-left: var(--s-space-4);
  color: var(--s-text-subdued);
  font-size: var(--s-font-size-sm);
}

.form-control__error-message {
  display: block;
  margin-top: var(--s-space-4);
  padding-left: var(--s-space-4);
}
