:host {
  display: inline-flex;

  & * {
    box-sizing: border-box;
  }
}

.app-icon {
  position: relative;
  overflow: hidden;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: var(--s-border-radius-s);

  & > img {
    width: 100%;
    height: 100%;
  }
}

.app-icon--hide-border::after {
  box-shadow: none;
}

.app-icon__icon {
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
