@import "../../styles/media-queries.css";

:host {
  display: block;
  flex-grow: 1;

  & * {
    box-sizing: border-box;
  }
}

.tree-view-item {
  list-style: none;
}

.tree-view-item--chosen:not(.tree-view-item--ghost) {
  box-shadow: var(--s-shadow-level-3);

  & .tree-view-item__link {
    background-color: var(--s-background-default);
  }

  & .tree-view-item__children {
    display: none;
  }
}

.tree-view-item--ghost {
  position: relative;
  height: 0.375rem;

  &:before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 0.125rem;
    background-color: var(--s-border-highlight);
    content: "";
    transform: translateY(-50%);
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.375rem;
    height: 0.375rem;
    border: 0.125rem solid var(--s-border-highlight);
    border-radius: 50%;
    background-color: var(--s-background-default);
    content: "";
    transform: translateY(-50%);
  }

  & .tree-view-item__link,
  & .tree-view-item__children {
    display: none;
  }
}

.tree-view-item--active {
  & > .tree-view-item__link {
    background-color: var(--s-background-hovered);
  }
}

.tree-view-item--has-tags {
  & .tree-view-item__tags {
    display: flex;
  }
}

.tree-view-item__children {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: var(--s-space-12);
  flex-direction: column;
  gap: var(--s-space-2);
}

.tree-view-item__link {
  display: flex;
  height: 2.25rem;
  padding: var(--s-space-4) var(--s-space-8);
  align-items: center;
  border-radius: var(--s-border-radius-sm);
  color: var(--s-text-default);
  background-color: var(--s-background-default);
  font-size: var(--s-font-size-base);
  font-weight: var(--s-font-weight-medium);
  text-decoration: none;
  gap: var(--s-space-4);

  &:hover {
    background-color: var(--s-background-hovered);
  }

  &:active {
    background-color: var(--s-background-pressed);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
  }

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
  }
}

.tree-view-item__icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: var(--s-space-4);
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--s-icon-default);
  font-size: var(--s-font-size-lg);

  & ::part(icon) {
    width: 100%;
    height: 100%;
  }

  @media (--from-desktop-without-touch) {
    width: 1.25rem;
    height: 1.25rem;
    font-size: var(--s-font-size-base);
  }
}

.tree-view-item__toggle-icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--s-icon-default);

  & ::part(icon) {
    width: 100%;
    height: 100%;
  }

  @media (--from-desktop-without-touch) {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.tree-view-item__label {
  overflow: hidden;
  min-width: 5rem;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tree-view-item__tags {
  display: none;
  padding-left: var(--s-space-4);
  align-items: center;
  gap: var(--s-space-4);
}
