:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.menu {
  width: 100%;

  --swirl-ghost-button-background-default: var(--s-surface-overlay-default);
  --swirl-ghost-button-background-hovered: var(--s-surface-overlay-hovered);
  --swirl-ghost-button-background-pressed: var(--s-surface-overlay-pressed);
}

.menu--mobile {
  &.menu--root {
    position: relative;

    & .menu__menu {
      top: 3.5rem;
      transition: left 0.2s;
    }
  }

  &.menu--active {
    & .menu__menu {
      display: block;
    }
  }

  & .menu__menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
  }
}

:not(.menu--mobile) {
  &.menu--root {
    position: relative;

    & .menu__menu {
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &:not(.menu--root) {
    & .menu__menu {
      z-index: 1;
      max-width: 22.5rem;
      border-radius: var(--s-border-radius-base);
      box-shadow: var(--s-shadow-level-1);
      padding: var(--s-space-4);
    }
  }

  &.menu--active {
    & .menu__menu {
      display: block;
    }
  }

  & .menu__menu {
    position: fixed;
    display: none;
  }
}

.menu__mobile-header {
  display: flex;
  height: 3.5rem;
  padding-right: var(--s-space-16);
  padding-left: var(--s-space-16);
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);
  gap: var(--s-space-8);

  & > * {
    display: inline-flex;
    flex-shrink: 0;
  }
}

.menu__title {
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;

  & swirl-heading {
    min-width: 0;
  }
}

.menu__done-button {
  margin-right: calc(-1 * var(--s-space-8));
}

.menu__menu {
  background-color: var(--s-surface-overlay-default);
  /* z-index: 1;
  max-width: 22.5rem;
  border-radius: var(--s-border-radius-base);
  box-shadow: var(--s-shadow-level-1);
  padding: var(--s-space-4); */
}
