@import "../../styles/media-queries.css";

:host {
  display: inline-flex;

  & * {
    box-sizing: border-box;
  }
}

.thumbnail {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  padding: 0.0625rem;
  border-radius: var(--s-border-radius-s);
}

.thumbnail--size-s {
  --swirl-thumbnail-size: 2.5rem;
}

.thumbnail--size-m {
  --swirl-thumbnail-size: 3rem;
}

.thumbnail--size-l {
  --swirl-thumbnail-size: 4rem;
}

.thumbnail--size-xl {
  --swirl-thumbnail-size: 5rem;
  border-radius: var(--s-border-radius-sm);

  & .thumbnail__buttons {
    transform: scale(0.75);
  }
}

.thumbnail--size-2xl {
  --swirl-thumbnail-size: 7.5rem;
  border-radius: var(--s-border-radius-sm);
}

.thumbnail--format-landscape {
  width: var(--swirl-thumbnail-size);
  aspect-ratio: 4 / 3;
}

.thumbnail--format-portrait {
  height: var(--swirl-thumbnail-size);
  aspect-ratio: 3 / 4;
}

.thumbnail--format-square {
  width: var(--swirl-thumbnail-size);
  height: var(--swirl-thumbnail-size);
}

.thumbnail--has-progress {
  & .thumbnail__timestamp {
    bottom: var(--s-space-8);
  }
}

.thumbnail--interactive {
  & .thumbnail__image-wrapper {
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      &:after {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.15);
        content: "";
        inset: 0;
      }
    }

    &:active {
      &:after {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        content: "";
        inset: 0;
      }
    }
  }
}

.thumbnail__image-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: var(--s-border-radius-s);
  box-shadow: inset 0 0 0 0.03125rem rgba(0, 0, 0, 0.1);
}

.thumbnail__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail__progress-indicator {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
}

.thumbnail__buttons {
  position: absolute;
  z-index: 1;
  top: var(--s-space-4);
  right: var(--s-space-4);
}

@media (--without-touch) {
  .thumbnail__buttons {
    opacity: 0;
  }
  .thumbnail:hover {
    .thumbnail__buttons {
      opacity: 1;
    }
  }
}

.thumbnail__timestamp {
  position: absolute;
  z-index: 1;
  bottom: var(--s-space-4);
  left: var(--s-space-4);
  display: block;
  overflow: hidden;
  max-width: calc(100% - 2 * var(--s-space-4));
  height: 1.5rem;
  padding-right: var(--s-space-8);
  padding-left: var(--s-space-8);
  align-items: center;
  border-radius: var(--s-border-radius-s);
  color: var(--s-text-on-image);
  background-color: rgba(0, 0, 0, 0.6);
  font-size: var(--s-font-size-sm);
  line-height: 1.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
