@import "../../styles/media-queries.css";

:host {
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: var(--s-space-16);

  @media (--from-tablet) {
    gap: var(--s-space-24);
  }
}

.form-group--orientation-horizontal {
  gap: var(--s-space-16);

  @media (--from-tablet) {
    flex-direction: row;
  }
}
