@import "../../styles/media-queries.css";

:host {
  display: flex;

  & * {
    box-sizing: border-box;
  }
}

.toast {
  display: flex;
  width: 100%;
  max-width: 28rem;
  padding: var(--s-space-16);
  border-radius: var(--s-border-radius-sm);
  color: var(--s-text-on-status);
  background-color: var(--s-surface-neutral-default);
  box-shadow: var(--s-shadow-level-2);
}

.toast--intent-critical {
  background-color: var(--s-surface-critical-default);
}

.toast--intent-success {
  background-color: var(--s-surface-success-default);
}

.toast__icon {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.625rem;
  flex-shrink: 0;

  & ::part(icon) {
    color: var(--s-icon-on-status);
  }

  @media (--from-desktop-without-touch) {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.toast__content {
  flex-grow: 1;
  line-height: var(--s-line-height-base);
  text-align: left;
  align-self: flex-start;

  & ::part(link) {
    color: var(--text-default);
  }

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}

.toast__action-button {
  --swirl-plain-button-text-color-default: var(--s-text-on-status);
  --swirl-plain-button-text-color-hovered: var(--s-text-on-status);
  --swirl-plain-button-text-color-pressed: var(--s-text-on-status);
  margin-left: var(--s-space-16);

  @media (--from-desktop-without-touch) {
    margin-top: -1px;
  }
}

.toast__dismiss-button {
  display: inline-flex;
  min-width: 1.5rem;
  height: 1.5rem;
  margin-left: var(--s-space-16);
  padding: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--s-text-on-status);
  background-color: transparent;
  font: inherit;
  font-weight: var(--s-font-weight-semibold);
  cursor: pointer;

  @media (--from-desktop-without-touch) {
    margin-top: calc(-1 * var(--s-space-2));
  }

  & ::part(icon) {
    color: var(--s-icon-on-status);
  }
}
