:host {
  display: flex;
  overflow: auto;
  padding-top: var(--s-space-8);
  padding-right: var(--s-space-16);
  padding-bottom: var(--s-space-8);
  padding-left: var(--s-space-16);
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  background-color: var(--s-background-default);
  word-break: break-word;
  hyphens: auto;

  &(.table-cell--has-shadow) {
    box-shadow: var(--flip-table-sticky-shadow);
  }

  &(:first-child) {
    border-left: var(--s-border-width-default) solid var(--s-border-default);
  }

  &(:last-child) {
    border-right: var(--s-border-width-default) solid var(--s-border-default);
  }

  & * {
    box-sizing: border-box;
  }
}
