:host {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;

  & * {
    box-sizing: border-box;
  }
}

.file-viewer-pdf__pages {
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: var(--s-space-16);
}

.file-viewer-pdf__page {
  margin-right: auto;
  margin-left: auto;

  &:not(:last-of-type) {
    margin-bottom: var(--s-space-12);
  }
}

.file-viewer-pdf__canvas {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0.125rem 0.25rem 1rem rgba(0, 0, 0, 0.08);
}

.file-viewer-pdf__spinner,
.file-viewer-pdf__error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.file-viewer-pdf__pagination {
  position: absolute;
  bottom: var(--s-space-32);
  left: 50%;
  padding: var(--s-space-4) var(--s-space-12);
  border-radius: var(--s-border-radius-base);
  color: var(--s-text-on-image);
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: var(--s-font-weight-medium);
  line-height: var(--s-line-height-base);
  transform: translateX(-50%);
  pointer-events: none;
}
