:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.option-list__select-all {
  position: relative;
  width: 100%;
  padding: var(--s-space-12) var(--s-space-16);
  border-radius: var(--s-border-radius-sm);
  background-color: var(--s-surface-overlay-default);

  &:focus-visible {
    background-color: var(--s-surface-overlay-hovered);
    outline-color: var(--s-focus-default);
    outline-style: solid;
    outline-width: 0.125rem;
    z-index: 1;
  }


  &:hover:not(.option-list__select-all--disabled) {
    background-color: var(--s-surface-overlay-hovered);
  }

  &:active:not(.option-list__select-all--disabled) {
    background-color: var(--s-surface-overlay-pressed);
  }

  @media (--from-desktop-without-touch) {
    padding: var(--s-space-8) var(--s-space-12);
  }
}
