:host {
  display: block;
  width: 100%;
  min-height: 0;

  & * {
    box-sizing: border-box;
  }

  &(:not(:only-child)) {
    & .image-grid-item__background {
      display: none;
    }

    & .image-grid-item__image {
      object-fit: cover;
    }
  }

  &(:nth-child(n+5)) {
    display: none;
  }
}

.image-grid-item {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

button.image-grid-item {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    z-index: 1;
    outline-color: var(--s-focus-default);
    outline-offset: var(--s-space-2);
  }
}

.image-grid-item--has-overlay {
  & .image-grid-item__image {
    scale: 1.1;
    filter: blur(5px);
  }
}

.image-grid-item__background {
  position: absolute;
  background-size: cover;
  inset: -40px;
  filter: blur(20px);
}

.image-grid-item__image {
  z-index: 1;
  display: inline-flex;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.image-grid-item__loading-placeholder {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.image-grid-item__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--s-icon-on-image);
  background-color: rgba(0, 0, 0, 0.6);
  transform: translate3d(-50%, -50%, 0);

  & ::part(icon) {
    width: 2rem;
    height: 2rem;
  }
}

.image-grid-item__overlay {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--s-text-on-image);
  background-color: rgba(0, 0, 0, 0.4);
  font-size: var(--s-font-size-2xl);
  inset: 0;
}

.image-grid-item__spinner {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
}
