@import "../../styles/media-queries.css";

:host {
  display: block;
  width: 100%;
  height: 100vh;

  & * {
    box-sizing: border-box;
  }
}

.console-layout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "main";

  @media (--from-tablet) {
    grid-template-columns: 20rem 1fr;
    grid-template-areas: "sidebar main";
  }
}

.console-layout--sidebar-active {
  & .console-layout__sidebar {
    @media (--to-tablet) {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.06);
    }
  }
}

.console-layout--empty-app-bar {
  & .console-layout__main {
    @media (--from-tablet) {
      grid-template-areas: "content";
      grid-template-rows: 1fr;
    }
  }

  & .console-layout__app-bar {
    @media (--from-tablet) {
      display: none;
    }
  }
}

.console-layout--empty-app-bar.console-layout--has-footer {
  & .console-layout__main {
    @media (--from-tablet) {
      grid-template-areas:
        "content"
        "footer";
      grid-template-rows: 1fr auto;
    }
  }
}

.console-layout__sidebar {
  position: fixed;
  z-index: var(--s-z-30);
  top: 4rem;
  bottom: 0;
  left: 0;
  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 20rem;
  border-right: var(--s-border-width-default) solid var(--s-border-default);
  transition: transform 0.15s, box-shadow 0.15s;
  transform: translate3d(-100%, 0, 0);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "navigation"
    "user";

  @media (prefers-reduced-motion) {
    transition: none;
  }

  @media (--from-tablet) {
    position: static;
    top: auto;
    left: auto;
    max-width: none;
    height: 100%;
    transform: none;
    box-shadow: none;
    grid-area: sidebar;
  }
}

.console-layout__header {
  overflow: hidden;
  min-width: 0;
  padding: var(--s-space-20) var(--s-space-24);
  background-color: var(--s-background-default);
  grid-area: header;
}

.console-layout__navigation {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: var(--s-space-8);
  padding-bottom: var(--s-space-8);
  background-color: var(--s-background-default);
  grid-area: navigation;
}

.console-layout__user {
  overflow: hidden;
  margin-top: var(--s-border-width-default);
  padding: var(--s-space-16) var(--s-space-24) var(--s-space-24);
  border-top: var(--s-border-width-default) solid var(--s-border-default);
  background-color: var(--s-background-default);
  grid-area: user;
}

.console-layout__main {
  display: grid;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  grid-area: main;
  gap: var(--s-border-width-default);
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
    "app-bar"
    "content";
}

.console-layout--has-footer .console-layout__main {
  grid-template-rows: 4rem 1fr auto;
  grid-template-areas:
    "app-bar"
    "content"
    "footer";
}

.console-layout__app-bar {
  position: sticky;
  z-index: var(--s-z-30);
  top: 0;
  display: flex;
  min-width: 0;
  padding-right: var(--s-space-16);
  padding-left: var(--s-space-16);
  align-items: center;
  border-bottom: var(--s-border-width-default) solid transparent;
  background-color: var(--s-background-default);
  gap: var(--s-space-12);
  grid-area: app-bar;
  transition: border-bottom-color 0.2s ease;

  @media (--from-tablet) {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.console-layout--scrolled .console-layout__app-bar {
  border-bottom-color: var(--s-border-default);
}

.console-layout__mobile-navigation-button {
  @media (--from-tablet) {
    display: none;
  }
}

.console-layout__app-name {
  min-width: 0;
  flex-grow: 1;

  & .heading {
    overflow: hidden;
    font-weight: var(--s-font-weight-regular);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.console-layout__help-button {
  flex-shrink: 0;
}

.console-layout__content {
  display: flex;
  min-width: 0;
  padding: var(--s-space-16);
  background-color: var(--s-background-default);
  flex-direction: column;
  grid-area: content;

  @media (--from-tablet) {
    padding: 2.5rem;
  }
}

.console-layout__integration {
  flex-grow: 1;
}

.console-layout__logo {
  display: flex;
  min-width: 0;
  align-items: center;
  gap: var(--s-space-12);
}

.console-layout__logo-mark {
  flex-shrink: 0;
}

.console-layout__logo-text {
  min-width: 0;

  &::part(text) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.console-layout__content-header {
  display: flex;
  margin-bottom: var(--s-space-24);
  flex-shrink: 0;
  gap: var(--s-space-16);
}

.console-layout__back-button {
  position: relative;
  top: calc(-1 * var(--s-space-2));
  flex-shrink: 0;
}

.console-layout__heading-container {
  flex-grow: 1;
}

.console-layout__subheading {
  margin-top: var(--s-space-8);
}

.console-layout__content-header-tools {
  display: flex;
  flex-shrink: 0;
}

.console-layout__footer {
  position: sticky;
  bottom: 0;
  z-index: var(--s-z-20);
  display: flex;
  min-width: 0;
  border-top: var(--s-border-width-default) solid var(--s-border-default);
  background-color: var(--s-background-default);
  grid-area: footer;
  height: 4.25rem;
}

.console-layout__app-bar--custom {
  display: flex;
  min-width: 0;
  align-items: center;
  padding: 0;
  border-bottom: var(--s-border-width-default) solid transparent;
  background-color: var(--s-background-default);
  transition: border-bottom-color 0.2s ease;
}

.console-layout--scrolled .console-layout__app-bar--custom {
  border-bottom-color: var(--s-border-default);
}
