:host {
  display: block;
  width: 100%;

  & * {
    box-sizing: border-box;
  }
}

.pagination {
  display: block;
  width: 100%;
}

.pagination--variant-simple {
  & .pagination__list {
    gap: var(--s-space-4);

    @media (--from-desktop-without-touch) {
      gap: var(--s-space-2);
    }
  }
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  line-height: var(--s-line-height-base);
  list-style: none;
  gap: var(--s-space-8);

  @media (--from-tablet) {
    gap: var(--s-space-16);
  }

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
    gap: var(--s-space-8);
  }
}

.pagination__advanced-label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: var(--s-space-8);
}

.pagination__page-select-container {
  position: relative;
}

.pagination__page-select {
  display: inline-flex;
  padding-right: var(--s-space-16);
  border: none;
  background-color: transparent;
  font: inherit;
  line-height: var(--s-line-height-base);
  text-align: center;
  cursor: pointer;
  appearance: none;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline-color: var(--s-focus-default);
  }
}

.pagination__page-select-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
}
