:host {
  position: relative;
  display: inline-flex;
  width: 100%;
  max-height: 100%;

  & * {
    box-sizing: border-box;
  }
}

.file-viewer-text__text {
  overflow: auto;
  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  padding: var(--s-space-16);
  background-color: var(--s-background-default);
  font-family: var(--s-font-family-code);

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}

.file-viewer-text__spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
}

.file-viewer-text__error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
