:host {
  display: inline-flex;
  min-width: 0;
  max-width: 100%;
  justify-content: center;
  align-items: center;

  & * {
    box-sizing: border-box;
  }
}

.badge {
  display: inline-flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  color: var(--s-text-on-status);
  font-size: var(--s-font-size-sm);
  font-weight: var(--s-font-weight-medium);
  box-shadow: 0 0 0 0.125rem var(--swirl-badge-border-color);
}

.badge--size-xs {
  min-width: 1rem;
  height: 1rem;
  font-size: 0.6875rem;

  & .badge__label {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
  }

  & .badge__icon {
    & > swirl-icon,
    & > *::part(icon) {
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}

.badge--size-s {
  min-width: 1.25rem;
  height: 1.25rem;
  font-size: 0.75rem;

  & .badge__label {
    padding-right: 0.375rem;
    padding-left: 0.375rem;
  }

  & .badge__icon {
    & > swirl-icon,
    & > *::part(icon) {
      width: 1rem;
      height: 1rem;
    }
  }
}

.badge--size-m {
  min-width: 1.5rem;
  height: 1.5rem;

  & .badge__label {
    padding-right: 0.4375rem;
    padding-left: 0.4375rem;
  }
}

.badge--has-icon {
  padding-right: 0;
  padding-left: 0;
}

.badge--intent-critical {
  color: var(--s-text-on-status);
  background-color: var(--s-surface-critical-default);
}

.badge--intent-banana {
  color: var(--s-text-dark);
  background-color: var(--s-decorative-banana-surface);
}

.badge--intent-blueberry {
  color: var(--s-text-on-status);
  background-color: var(--s-decorative-blueberry-surface);
}

.badge--intent-chilli {
  color: var(--s-text-on-status);
  background-color: var(--s-decorative-chilli-surface);
}

.badge--intent-grape {
  color: var(--s-text-on-status);
  background-color: var(--s-decorative-grape-surface);
}

.badge--intent-info {
  color: var(--s-text-on-status);
  background-color: var(--s-surface-info-default);
}

.badge--intent-kiwi {
  color: var(--s-text-on-status);
  background-color: var(--s-decorative-kiwi-surface);
}

.badge--intent-neutral {
  color: var(--s-text-default);
  background-color: var(--s-surface-neutral-subdued);
}

.badge--intent-pumpkin {
  color: var(--s-text-dark);
  background-color: var(--s-decorative-pumpkin-surface);
}

.badge--intent-radish {
  color: var(--s-text-on-status);
  background-color: var(--s-decorative-radish-surface);
}

.badge--variant-dot {
  width: 1.5rem;
  min-width: 0;
  height: 1.5rem;

  &.badge--size-xs {
    width: 0.5rem;
    height: 0.5rem;
  }

  &.badge--size-s {
    width: 0.75rem;
    height: 0.75rem;
  }

  &.badge--size-m {
    width: 1rem;
    height: 1rem;
  }

  & .badge__label {
    padding-right: 0;
    padding-left: 0;
  }

  & .badge__icon {
    display: none;
  }
}

.badge__icon {
  display: inline-flex;

  & > swirl-icon,
  & > *::part(icon) {
    width: 1rem;
    height: 1rem;
  }
}

.badge__label {
  display: inline-flex;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
