@import "../../styles/media-queries.css";

:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.description-list-item {
  display: block;
  max-width: 100%;
  padding-top: var(--s-space-16);
  padding-bottom: var(--s-space-16);
  color: var(--s-text-default);
  line-height: var(--s-line-height-base);

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}

.description-list-item--bordered {
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);
}

.description-list-item__term {
  display: block;
  margin-bottom: var(--s-space-4);
  font-weight: var(--s-font-weight-semibold);

  @media (--from-desktop-without-touch) {
    margin-bottom: var(--s-space-2);
  }
}

.description-list-item__description {
  display: block;
  max-width: 40rem;
  margin: 0;
}

@container description-list (min-width: 480px) {
  .description-list-item--orientation-horizontal {
    display: flex;

    & .description-list-item__term {
      margin-right: var(--s-space-16);
      margin-bottom: 0;
      flex-basis: 12rem;
      flex-grow: 0;
      flex-shrink: 0;
    }

    & .description-list-item__description {
      flex-grow: 1;
    }
  }
}

/* Fallback styles for browsers without container query support */
@supports not (container-type: inline-size) {
  @media (--from-tablet) {
    .description-list-item--orientation-horizontal {
      display: flex;

      & .description-list-item__term {
        margin-right: var(--s-space-16);
        margin-bottom: 0;
        flex-basis: 12rem;
        flex-grow: 0;
        flex-shrink: 0;
      }

      & .description-list-item__description {
        flex-grow: 1;
      }
    }
  }
}
