@import "../../styles/media-queries.css";

:host {
  display: block;

  & * {
    box-sizing: border-box;
  }
}

.description-list-item__inner {
  display: flex;
  max-width: 100%;
  padding-top: var(--s-space-8);
  padding-bottom: var(--s-space-8);
  align-items: flex-start;
  color: var(--s-text-default);
  line-height: var(--s-line-height-base);
  justfiy-content: space-between;
  gap: var(--s-space-16);

  @media (--from-desktop-without-touch) {
    font-size: var(--s-font-size-sm);
    line-height: var(--s-line-height-sm);
  }
}

.description-list-item--bordered {
  padding-top: var(--s-space-16);
  padding-bottom: var(--s-space-16);
  border-bottom: var(--s-border-width-default) solid var(--s-border-default);
}

.description-list-item:not(.description-list-item--has-tools) {
  & .description-list-item__tools {
    display: none;
  }
}

.description-list-item:not(.description-list-item--has-additional-content) {
  & .description-list-item__additional-content {
    display: none;
  }
}

.description-list-item__text-container {
  flex-grow: 1;
}

.description-list-item__term {
  display: block;
  margin-bottom: var(--s-space-4);
  font-weight: var(--s-font-weight-semibold);
  overflow-wrap: break-word;

  @media (--from-desktop-without-touch) {
    margin-bottom: var(--s-space-2);
  }
}

.description-list-item__tooltip {
  display: inline-flex;
  margin-left: var(--s-space-4);
  vertical-align: middle;
}

.description-list-item__description {
  display: block;
  max-width: 40rem;
  margin: 0;
  overflow-wrap: break-word;
}

.description-list-item__tools {
  display: flex;
  min-height: 2.625rem;
  flex-shrink: 0;
  align-items: center;
}

.description-list-item__additional-content {
  padding-bottom: var(--s-space-8);
  flex-basis: 100%;
  flex-shrink: 0;
}
