name: Deploy Storybook

on:
  push:
    branches:
      - main
    paths:
      - packages/swirl-components/**/*
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
    paths:
      - packages/swirl-components/**/*
    # paths-ignore:
    #   - apps/swirl-docs/**/*
    #   - packages/swirl-icons/dart/lib/fonts/flip-legacy-icons.ttf
    #   - packages/swirl-icons/dart/lib/fonts/swirl-icons.ttf
    #   - packages/swirl-tokens/dart/lib/styles.dark.dart
    #   - packages/swirl-tokens/dart/lib/styles.light.dart

jobs:
  build_and_deploy_job:
    if:
      github.event_name == 'push' || (github.event_name == 'pull_request' &&
      github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - run: yarn install --ignore-scripts
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        env:
          NODE_OPTIONS: "--max_old_space_size=8192"
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
        with:
          azure_static_web_apps_api_token:
            ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ICY_WATER_049EC4003 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_build_command: "npx turbo run build --filter=!swirl-docs"
          app_location: "/" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "packages/swirl-components/storybook-static" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token:
            ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ICY_WATER_049EC4003 }}
          action: "close"
