name: Publish

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Build and publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn install --ignore-scripts

      - name: Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: yarn release
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: yarn prepare-dart-packages

      # This will only publish if the version number in pubspec.yml changed.
      - name: "Publish tokens to pub.dev"
        uses: k-paxian/dart-package-publisher@master
        with:
          relativePath: packages/swirl-tokens/dart
          skipTests: true
          force: true
          flutter: true
          accessToken: ${{ secrets.PUB_DEV_ACCESS_TOKEN }}
          refreshToken: ${{ secrets.PUB_DEV_REFRESH_TOKEN }}
      - name: "Publish icons to pub.dev"
        uses: k-paxian/dart-package-publisher@master
        with:
          relativePath: packages/swirl-icons/dart
          skipTests: true
          force: true
          flutter: true
          accessToken: ${{ secrets.PUB_DEV_ACCESS_TOKEN }}
          refreshToken: ${{ secrets.PUB_DEV_REFRESH_TOKEN }}
