/**/*.jpg
/**/*.png
/**/*.ico
/**/*.svg
/**/*.eot
/**/*.ttf
/**/*.woff
/**/*.woff2

/src/assets/tenant
/src/assets/theme
/**/__snapshots__/*

src/browserslist
src/web.config
.git*
git*
.*
.DS_Store

/**/generated-*-api/*
/**/generated/*
/**/service-worker/lib/*

capacitor
dist
